.badge {
  position: relative;
  color: #fff;
  @include font(14, 600);
  border-top-left-radius: rem(5);
  border-bottom-left-radius: rem(5);
  padding: rem(9 12);
  text-align: center;
  min-width: rem(64);
  min-height: rem(41);
  z-index: 10;
  & + .badge {
    margin-top: rem(10);
  }
  &_hit {
    text-transform: uppercase;
    font-size: rem(16);
    background: $gradient-violet;
  }
  &_new {
    background: $gradient-green;
  }
  &_action {
    background: $gradient-orange-badge;
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    // background: linear-gradient(145deg, $main-color 50%, #fff 50%);
    @include sizes(0, 0);
    border: {
      style: solid;
      width: 3px 6px 0 0;
      color: $main-color transparent transparent transparent;
    }
  }
  &_alt {
    border-radius: rem(40);
    font-weight: bold;
    min-width: rem(80);
    min-height: rem(26);
    padding: rem(2 16);
    &:after {
      display: none;
    }
    &.badge_hit {
      font-size: rem(14);
      text-transform: none;
    }
  }
  &_left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: rem(5);
    border-bottom-right-radius: rem(5);
    &:after {
      left: 0;
      border: {
        style: solid;
        width: 0 6px 3px 0;
        color: transparent $main-color transparent transparent;
      }
      @media (max-width: 640px) {
        right: 0;
        left: auto;
        border: {
          style: solid;
          width: 3px 6px 0 0;
          color: $main-color transparent transparent transparent;
        }
      }
    }
    @media (max-width: 640px) {
      border-top-left-radius: rem(5);
      border-bottom-left-radius: rem(5);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @media (max-width: 600px) {
    font-size: 14px;
    min-width: 67px;
    padding: 5px 13px;
  }
}
