.badge {
  position: absolute;
  top: rem(30);
  right: -6px;
  color: #fff;
  @include font(14, 600);
  border-top-left-radius: rem(5);
  border-bottom-left-radius: rem(5);
  padding: rem(9 12);
  text-align: center;
  min-width: rem(64);
  z-index: 10;
  &_hit {
    text-transform: uppercase;
    font-size: rem(16);
    background: $gradient-violet;
  }
  &_new {
    background: $gradient-green;
  }
  &_action {
    background: $gradient-orange-badge;
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    // background: linear-gradient(145deg, $main-color 50%, #fff 50%);
    @include sizes(0, 0);
    border: {
      style: solid;
      width: 3px 6px 0 0;
      color: $main-color transparent transparent transparent;
    }
  }
  &_alt {
    border-radius: rem(40);
    font-weight: bold;
    min-width: rem(80);
    padding: rem(2 16);
    bottom: rem(-4);
    top: auto;
    right: auto;
    left: rem(-4);
    &:after {
      display: none;
    }
    &.badge_hit {
      text-transform: none;
    }
  }
  &_left {
    left: -6px;
    right: auto;
    top: rem(30);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: rem(5);
    border-bottom-right-radius: rem(5);
    &:after {
      left: 0;
      border: {
        style: solid;
        width: 0 6px 3px 0;
        color: transparent $main-color transparent transparent;
      }
    }
  }
}
