.basket {
  height: calc(100% - 5.4rem);
}

.basket__container {
  overflow-y: auto;
  padding: rem(0 27 23 32);
  max-height: rem(387);
  @media (max-width: 600px) {
    padding: 0 20px 20px;
    max-height: 400px;
  }
}

.basket__total {
  background: #f9f9f9;
  box-shadow: rem(-5 -2 10) rgba(0, 0, 0, 0.15);
  padding: rem(23 30 23);
  @include font(16, 600);
  position: relative;
  z-index: 5;
  line-height: 25px;
  .orange {
    color: $orange;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.basket__item {
  @include flexbox(stretch, flex-start);
  margin-bottom: rem(10);

  @media (max-width: 600px) {
    flex-wrap: wrap;
    margin-bottom: 0;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: $global-radius;
    padding-bottom: 20px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.basket__col {
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
  &_first {
    width: 52.15%;
    .basket__bottom {
      @include flexbox(center, flex-start);
      border-top-left-radius: $global-radius;
      border-bottom-left-radius: $global-radius;
      border: {
        top: 1px solid #f2f2f2;
        left: 1px solid #f2f2f2;
        bottom: 1px solid #f2f2f2;
      }
    }
    @media (max-width: 600px) {
      width: 100%;
      .basket__bottom {
        padding: 10px 15px 9px;
        @include flexbox(center, space-between);
        border-bottom-left-radius: 0;
        border-top-right-radius: $global-radius;
        border: {
          bottom: none;
          left: none;
          top: none;
        }
      }
    }
  }
  &_second {
    .basket__top {
      text-align: center;
    }
    .basket__bottom {
      border: {
        top: 1px solid #f2f2f2;
        bottom: 1px solid #f2f2f2;
      }
      @media (max-width: 600px) {
        padding-left: 0;
        border: {
          top: none;
          bottom: none;
        }
      }
    }

  }
  &_third {
    .basket__top {
      padding-left: rem(15);
    }
    .basket__bottom {
      border: {
        top: 1px solid #f2f2f2;
        bottom: 1px solid #f2f2f2;
      }
      @media (max-width: 600px) {
        padding-right: 13px;
        border: {
          top: none;
          bottom: none;
        }
      }
    }
  }
  &_fourth {
    .basket__bottom {
      border-top-right-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
      padding-right: rem(30);
      border: {
        top: 1px solid #f2f2f2;
        right: 1px solid #f2f2f2;
        bottom: 1px solid #f2f2f2;
      }
      @media (max-width: 600px) {
        padding-left: 0;
      }
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  &_mobile {
    padding-left: 15px;
    padding-right: 9px;
    .basket__img {
      width: 49px;
      height: 49px;
      min-width: 49px;
      margin-right: 0;
    }
    @media (min-width: 601px) {
      display: none;
    }
  }
}

.basket__top {
  width: 100%;
  @include font(12, 500);
  color: $alt-gray;
  margin-bottom: rem(9);
  line-height: 1.66;
  min-height: rem(21);
  @media (max-width: 600px) {
    display: none;
  }
}

.basket__bottom {
  width: 100%;
  flex: 1 0 auto;
  background: #fff;
  padding: rem(15);
  @include flexbox(center, flex-start);
  @media (max-width: 600px) {
    padding: 0 12px;
    .basket__img {
      display: none;
    }
  }
}

.basket__sum {
  @include font(16, 600);
  white-space: nowrap;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.basket__img {
  min-width: rem(49);
  width: rem(49);
  height: rem(49);
  margin-right: rem(9);
  img {
    @include img-contain;
  }
}

.basket__product-name {
  @include font(16, 500);
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.basket__mobile-btn {
  text-align: center;
  margin-top: 20px;
  .btn {
    display: inline-block;
    font: {
      size: 14px;
      weight: 600;
    }
    border-radius: 50px;
    padding: 11px 21px;
  }

  @media (min-width: 601px) {
    display: none;
  }
}

.basket__icon-mobile {
  @media (min-width: 601px) {
    display: none;
  }
}
