.cities {
  padding: rem(58 0 40);
  &_serivce-centres {
    padding-bottom: rem(111);
    .cities__list {
      width: 40%;
      column-count: 2;
      @media (max-width: 600px) {
        column-count: 1;
        margin-bottom: 24px;
      }
    }
    .cities__item {
      margin-bottom: rem(25);
    }
  }
  @media (max-width: 600px) {
    padding: 33px 0 0;
  }
}

.cities__list {
  column-count: 4;
  margin-bottom: rem(56);
  @media (max-width: 600px) {
    column-count: 1;
    margin-bottom: 24px;
  }
}

.cities__item {
  font-weight: 500;
  margin-bottom: rem(22);
  a {
    border-bottom: 1px dotted $orange;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.cities__title {
  @include font(23, 600);
  &_margin-bottom {
    margin-bottom: rem(64);
  }
  @media (max-width: 600px) {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.cities__map {
  max-width: rem(1016);
  @media (max-width: 600px) {
    display: none;
  }
}
