.coffee-section {
  background: $light-gray;
  padding: rem(60 0 35);
  flex: 1 0 auto;
  &_similiar {
    padding: 0;
    background: #fff;
    margin-bottom: rem(80);
  }
  &:not(:first-of-type) {
    padding-bottom: rem(26);
  }
  &_without-title {
    padding-top: rem(75);
  }
}

.coffee-section__title {
  font-size: rem(23);
  margin-bottom: rem(34);
}


.coffee-section__wrapper {
}

.coffee-section__titles {
  @include font(12, 500);
  line-height: 1.33;
  color: $alt-gray;
  margin-bottom: rem(18);
  @include flexbox(center, flex-start);
}

.coffee-section__name {
  &_first {
    margin-right: rem(35);
  }
  &_second {
    max-width: 22.5%;
    width: 23.5%;
    margin-right: rem(52);
  }
  &_third {
    width: 15%;
    min-width: 15%;
    margin-right: rem(15);
  }
  &_fourth {
    width: 14%;
    min-width: 14%;
    margin-right: rem(30);
  }
  &_fifth {
    width: 16%;
    min-width: 16%;
    margin-right: rem(40);
  }
}

.coffee-section__descr {
  background: $light-gray;
  padding-top: rem(20);
  margin-bottom: rem(20);
  .container_flex {
    @include flexbox(flex-start, flex-start);
    margin-bottom: rem(100);
  }
  .companies {
    padding-bottom: rem(116);
  }
}

.coffee-section__text {
  margin-right: rem(98);
  width: 65.8%;
  p {
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
}

.coffee-section__slider {
  width: 24.8%;
}
