.col {
  &_3-items {
    width: 33.333%;
    padding: rem(0 10);
  }
  &_4-items {
    width: 25%;
    padding: rem(0 10);
  }
  &_padding {
    padding: rem(10);
  }
  &_top-bottom-paddings-25 {
    padding: {
      top: rem(25);
      bottom: rem(25);
    }
  }
  @media (max-width: 600px) {
    width: 100%;
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
