.company-descr {
  padding-bottom: rem(76);
  .container {
    @include flexbox(flex-start, flex-start);
  }
}

.company-descr__title {
  margin-bottom: rem(34);
}

.company-descr__text {
  line-height: 1.73;
  &:not(:last-child) {
    margin-bottom: rem(27);
  }
}

.company-descr__main {
  width: 66%;
  margin-right: rem(99);
}

.company-descr__aside {
  width: 24.5%;
}
