.company {
  margin: rem(36 0 27);
  @media (max-width: 600px) {
    margin-top: 0;
  }
}

.company__text {
  font-weight: 500;
  line-height: 1.733;
  margin-bottom: rem(28);
  & + .company__title {
    margin-top: rem(35);
  }
}

.company__title {
  @include font(23, 600);
  margin-bottom: rem(27);
  @media (max-width: 600px) {
    margin-bottom: 21px;
    font-size: 24px;
  }
}
