.form {
  margin-bottom: rem(72);
  padding-right: rem(46);
  .select2-results__option {
    padding: {
      left: rem(15);
      right: rem(15);
    };
  }
  @media (max-width: 800px) {
    padding-right: 0;
  }
  @media (max-width: 600px) {
    margin-bottom: 41px;
  }
}

.form__title {
  margin-bottom: rem(38);
  @include font(23, 600);
}

.form__item {
  &:not(:last-child) {
    margin-bottom: rem(20);
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.form__label {
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
}

.form__input {
  width: 100%;
  position: relative;
  border: 1px solid $gray;
  border-radius: $global-radius;
  padding: rem(10 15 9);
  @include font(15, 500);
  &:focus,
  &.not-empty {
    & ~ .form__label-text {
      font-size: 12px;
      top: -17px;
      left: 0;
      color: $orange;
      transform: none;
    }
  }
  &:focus {
    border: 2px solid $orange;
  }
  @media (max-width: 600px) {
    height: 45px;
    font-size: 15px;
  }
}

.form__label-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(15);
  width: 100%;
  color: $alt-gray;
  @include font(15, 500);
  transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form__textarea {
  display: block;
  width: 100%;
  border: 1px solid $gray;
  border-radius: $global-radius;
  padding: rem(10 15 9);
  resize: none;
  min-height: rem(114);
  max-height: rem(114);
  &:focus {
    border: 2px solid $orange;
  }
  &:focus,
  &.not-empty {
    & ~ .form__label-text {
      font-size: 12px;
      top: -17px;
      left: 0;
      color: $orange;
    }
  }
  & + .form__label-text {
    top: rem(10);
    transform: none;
  }
}

.form__btn {
  border-radius: rem(50);
  @include font(15, 600);
  margin-bottom: rem(24);
  padding: rem(13 38);
  @media (max-width: 600px) {
    margin-bottom: 24px;
    font-size: 15px;
  }
}

.form__btn-container {
  text-align: right;
  margin-right: rem(-14);
  @media (max-width: 800px) {
    margin-right: 0;
  }
}

.form__select {
  & + .select2-container {
    width: 100% !important;
    .select2-selection--single {
      height: rem(45);
      border-radius: $global-radius;
      border-color: $gray;
      @media (max-width: 600px) {
        height: 45px;
      }
      .select2-selection__rendered {
        height: 100%;
        padding: 0 rem(15);
        color: $main-color;
        line-height: 42px;
        @include font(15, 500);
        @media (max-width: 1080px) {
          line-height: 34px;
        }
        @media (max-width: 790px) {
          line-height: 28px;
        }
        @media (max-width: 600px) {
          line-height: 42px;
        }
      }
      .select2-selection__arrow {
        height: 100%;
        width: rem(30);
        b {
          border-top-color: $main-color;
          border-width: 7px 4px 0 4px
        }
      }
    }
    &.select2-container--default.select2-container--open {
      .select2-selection__arrow {
        transform: scale(-1);
      }
      &.select2-container--below .select2-selection--single {
        border-radius: $global-radius;
      }
    }
  }
}
