.heading {

}

.heading__title {
  margin-bottom: rem(37);
}

.heading__link {
  font-weight: 500;
  white-space: nowrap;
  &_active {
    pointer-events: none;
    color: #8C8C8C;
    border-bottom: none;
  }
}

.heading__links {
  @include flexbox(center, flex-start);
  flex-wrap: wrap;
  margin-bottom: rem(14);
}

.heading__wrapper {
  width: 27%;
  margin-right: rem(46);
  margin-bottom: rem(8);
  height: rem(30);
  &_auto {
    width: auto;
  }
}

.heading__container {
  &_flex {
    @include flexbox(flex-start, space-between);
  }
}
