.heading {
  @media (max-width: 600px) {
    padding: 24px 0 20px;
    &_product-alt {
      padding-bottom: 18px;
      .heading__mobile-link.back {
        margin-bottom: 0;
      }
    }
  }
  &_mobile {
    padding: 21px 0 0;
    @media (min-width: 601px) {
      display: none;
    }
  }
}

.heading__title {
  margin-bottom: rem(35);
  &_internal {
    @include font(23, 600);
    margin-bottom: rem(52);
    @media (max-width: 600px) {
      display: none;
    }
  }
  @media (max-width: 600px) {
    font-size: 24px;
    margin-bottom: 18px;
  }
}

.heading__link {
  font-weight: 500;
  white-space: nowrap;
  &_active {
    pointer-events: none;
    color: $alt-gray;
    border-bottom: none;
  }
}

.heading__links {
  @include flexbox(center, flex-start);
  flex-wrap: wrap;
  margin-bottom: rem(14);
  &_alt {
    width: 80%;
    .heading__wrapper {
      width: auto;
      min-width: rem(160);
      @media (max-width: 992px) {
        min-width: 0;
        width: 33%;
      }
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.heading__wrapper {
  width: 22%;
  margin-right: rem(42);
  margin-bottom: rem(4);
  height: rem(30);
  &_margin-bottom-large {
    margin-bottom: rem(38);
  }
  &_company {
    width: auto;
    margin-right: rem(52);
  }
  @media (max-width: 1000px) {
    width: 40%;
  }
  @media (max-width: 750px) {
    width: 30%;
  }
  &_auto {
    width: auto;
    @media (max-width: 1000px) {
      width: auto;
    }
  }
}

.heading__container {
  &_flex {
    @include flexbox(flex-start, space-between);
    .heading__wrapper {
      width: 27%;
      margin-right: rem(45);
      @media (max-width: 1000px) {
        width: 40%;
      }
    }
  }
}

.heading__mobile-link {
  display: inline-block;
  font: {
    size: 13px;
    weight: 500;
  }
  position: relative;
  padding-right: 22px;
  background: transparent;
  @media (min-width: 601px) {
    display: none;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-45%) rotate(-90deg);
    width: 10px;
    height: 7px;
    background: url("../img/arrow.svg") no-repeat center center;
    background-size: contain;
  }
  &.back {
    padding: {
      left: 15px;
      right: 0;
    }
    margin-bottom: 18px;
    &:after {
      right: auto;
      left: 0;
      transform: translateY(-45%) rotate(90deg);
    }
    & + .heading__title {
      margin-bottom: 0;
    }
  }
}
