.header {

}

.header__first {
  color: #fff;
  background: $gradient;
  padding: rem(10 0 12);
  @include font(13, 600);
  margin-bottom: rem(18);
  .container {
    @include flexbox(center, space-between);
  }
}

.header__second {
  font-size: rem(14);
  margin-bottom: rem(32);
  .container {
    @include flexbox(center, flex-start);
  }
}

.header__logo {
  max-width: rem(162);
  margin-right: rem(43);
}

.header__site-descr {
  max-width: rem(214);
  margin-right: rem(78);
  h1 {
    font-size: rem(14);
    color: $black;
    letter-spacing: 0;
  }
}

.header__contacts {
  @include flexbox(center, space-between);
}

.header__container {
  @include flexbox(flex-start, space-between);
}

.header__contact {
  text-align: right;
  line-height: 1.5;
  &:not(:last-child) {
    margin-right: rem(50);
  }
}

.header__subtitle {
  color: $second-gray;
  @include font(14, 500);
  line-height: normal;
  margin-bottom: rem(4);
}

.header__link {
  display: block;
  @include font(17, 600);
  white-space: nowrap;
  &_bordered {
    border-bottom: $border-orange;
  }
}

.header__third {
  .container {
    @include flexbox(center, space-between);
  }
}
