.intro-slider {
  position: relative;
  .slick-dots {
    position: absolute;
    left: 0;
    bottom: rem(26);
    padding: rem(0 20);
    @media (max-width: 600px) {
      left: 50%;
      transform: translateX(-50%);
      bottom: 157px;
    }
  }
  .container {
    position: relative;
  }
}

.slick-dots-wrapper {

}

.intro-slider__slide {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.intro-slider__col {
  &:first-child {
    padding: rem(115 20 26 0);
    @media (max-width: 600px) {
      padding: 45px 10px 10px;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .intro-slider__slide {
    min-height: 387px;
    .container {
      @include flexbox(center, flex-start);
      flex-direction: column;
    }
  }
}
