.mobile-show-btn {
  font: {
    size: 12px;
    weight: 500;
  }
  border-bottom: 1px dashed $orange;
  background: transparent;
  display: inline-block;
  @media (min-width: 376px) {
    display: none;
  }
}
