.modal {
  width: 100%;
  padding: 0;
  box-shadow: rem(0 4 24) rgba(0, 0, 0, 0.15);
  max-width: rem(1200);
  &_small {
    max-width: rem(506);
  }
  &_basket,
  &_make-order,
  &_leasing {
    @media (max-width: 600px) {
      & + .fancybox-button.fancybox-close-small {
        top: 36px;
        right: 25px;
      }
    }
  }
  &_make-order,
  &_leasing {
    @media (max-width: 600px) {
      .modal__title {
        // padding: 29px 20px 26px;
        // margin-bottom: 0;
        text-align: left;
      }
    }
  }
  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.modal__wrapper {
  padding: rem(34 40 50 45);
  @media (max-width: 600px) {
    padding: 37px 20px 39px;
  }
  &_padding-0 {
    padding: 0;
  }
  &_flex {
    @include flexbox(stretch, flex-start);
  }
  &.modal_make-order {
    @media (max-width: 600px) {
      padding: 29px 20px 47px;
      .modal__title {
        margin-bottom: 73px;
      }
    }
  }
  &.modal_leasing {
    @media (max-width: 600px) {
      padding: 29px 20px 47px;
    }
  }
}

.modal__btn {
  .btn {
    font-weight: 600;
    border-radius: rem(50);
    padding: {
      left: rem(24);
      right: rem(24);
    }
    @media (max-width: 600px) {
      display: block;
      padding: {
        top: 13px;
        left: 24px;
        right: 24px;
        bottom: 14px;
      }
    }
  }
  @media (max-width: 600px) {
    @include flexbox(center, center);
  }
}

.modal__col {
  &_right {
    padding: rem(24 33 36 35);
    width: 40.75%;
    @media (max-width: 600px) {
      display: none;
    }
  }
  &_left {
    width: 59.25%;
    background-color: #F9F9F9;
    .modal__title {
      padding: rem(24 30 0);
    }
    @media (max-width: 600px) {
      width: 100%;
      padding-bottom: 48px;
      .modal__title {
        padding: 29px 20px 26px;
        margin-bottom: 0;
        text-align: left;
      }
    }
  }
}

.modal__title {
  @include font(23, 600);
  margin-bottom: rem(28);
  &_margin-bottom-23 {
    margin-bottom: rem(23);
  }
  &_margin-bottom-40 {
    margin-bottom: rem(40);
  }
  @media (max-width: 600px) {
    font-size: 18px;
    margin-bottom: 17px;
    text-align: center;
  }
}

.modal__form {
  padding-right: 0;
  margin-bottom: 0;
  .form__btn-container {
    margin-right: 0;
  }
  .checkbox {
    margin-bottom: rem(20);
    @media (max-width: 600px) {
      margin-bottom: 33px;
    }
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    padding: {
      left: rem(24);
      right: rem(24);
    }
    @media (max-width: 600px) {
      display: block;
      text-align: center;
    }
  }
}

.fancybox-button {
  background: url("../img/modal-close.svg") no-repeat center center;
  background-size: contain;
  opacity: 1;
  width: rem(15);
  height: rem(15);
  padding: 0;
  svg {
    display: none;
  }
  @media (max-width: 600px) {
    width: 15px;
    height: 15px;
  }
}

.fancybox-slide--html .fancybox-close-small {
  padding: 0;
  top: rem(20);
  right: rem(18);
  @media (max-width: 600px) {
    top: 20px;
    right: 20px;
  }
}

.modal__product-preview {
  border-radius: $global-radius;
  padding: rem(15);
  border: 1px solid #F2F2F2;
  @include flexbox(center, flex-start);
  margin-bottom: rem(18);
  // @media (max-width: 600px) {
  //   display: none;
  // }
}

.modal__product-name {
  @include font(16, 500);
  // &_mobile {
  //   display: block;
  //
  //   @media (min-width: 601px) {
  //     display: none;
  //   }
  // }
}

.modal__img {
  min-width: rem(49);
  width: rem(49);
  height: rem(49);
  margin-right: rem(9);
  img {
    @include img-contain;
  }
}

.modal__text {
  @include font(16, 500);
  margin-bottom: rem(31);
  @media (max-width: 600px) {
    font-size: 13px;
    color: $alt-gray;
    line-height: 1.46;
    text-align: center;
    max-width: 279px;
    margin: 0 auto 23px;
  }
}
