.nav {
  &_second {
    width: 100%;
    font-weight: 600;
    padding-bottom: rem(12);
    .nav__item {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    @media (max-width: 700px) {
      font-size: 8px;
    }
  }
  &_footer {
    font-size: rem(13);
    .nav__item {
      &:not(:last-child) {
        margin: {
          right: 0;
          bottom: rem(13);
        }
      }
    }
    & + .nav_footer {
      margin-top: auto;
    }
  }
}

.nav__list {
  @include flexbox(center, flex-start);
  &_space-between {
    justify-content: space-between;
  }
  &_block {
    display: block;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: rem(45);
  }
}

.nav__link {
  &_margin-top-auto {
    margin-top: auto;
  }
  &_arrow {
    position: relative;
    padding-right: rem(17);
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 40%;
      background: url("../img/arrow.svg") no-repeat center center;
      background-size: contain;
      @include sizes(10, 6);
    }
  }
}

.nav__copyright {
  color: $gray;
  @include font(13, 500);
  cursor: auto;
}
