.news {
  padding-bottom: rem(110);
  &_page {
    margin-bottom: rem(30);
    padding-bottom: 0;
    .news__title {
      margin-bottom: rem(40);
      text-align: left;
    }
  }
}

.news__container {
  @include flexbox(flex-start, flex-start);
  margin: 0 rem(-10);
}

.news__title {
  margin-bottom: rem(48);
  text-align: center;
  h2 {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: $border-orange;
  }
}

.news__loading {
  @include flexbox(center, flex-start);
  @include font(16, 500);
  margin-top: rem(40);
  svg {
    margin-right: rem(13);
  }
}

.news__loading-wrapper {
  @include flexbox(center, center);
}
