.news {
  padding-bottom: rem(110);
  &_page {
    margin-bottom: rem(30);
    padding-bottom: 0;
    .news__title {
      margin-bottom: rem(40);
      text-align: left;
    }
    @media (max-width: 600px) {
      margin-top: 24px;
      .col:not(:last-child) {
        margin-bottom: 34px;
      }
    }
  }
  &_news-page {
    margin-bottom: rem(79);
    padding-bottom: 0;
    .news__title {
      text-align: left;
    }
  }
  &_index {
    @media (max-width: 600px) {
      .col {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}

.news__container {
  @include flexbox(flex-start, flex-start);
  margin: 0 rem(-10);
  @media (max-width: 600px) {
    margin: 0;
  }
}

.news__right-col {
  margin-top: rem(-12);
  @media (max-width: 600px) {
    width: 100%;
    margin-top: 0;
    @include flexbox(center, space-between);
    flex-wrap: wrap;
    .news-badge {
      font-size: 11px;
      padding: 5px 7px;
      line-height: 19px;
    }
  }
}

.news__left-col {
  @media (max-width: 600px) {
    margin-bottom: 14px;
  }
}

.news__title {
  margin-bottom: rem(48);
  text-align: center;
  h2 {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: $border-orange;
    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
  h1 {
    margin-bottom: rem(6);
  }
  &_flex {
    margin-bottom: rem(10);
    @include flexbox(center, space-between);
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 17px;
      .news__date_desktop {
        display: none;
      }
    }
  }
}

h1.news__title {
  @media (max-width: 600px) {
    font-size: 24px;
    margin-bottom: 23px;
  }
}

.news__loading {
  @include flexbox(center, flex-start);
  @include font(16, 500);
  margin-top: rem(40);
  svg {
    margin-right: rem(13);
  }
}

.news__loading-wrapper {
  @include flexbox(center, center);
}

.news__date {
  @include font(15, 500);
  color: $gray;
  &_mobile {
    margin-bottom: 6px;
    font-size: 12px;
  }
  @media (min-width: 601px) {
    &_mobile {
      display: none;
    }
  }
}

.news__link {
  color: $orange;
  @include font(15, 500);
  border-bottom: 1px dotted $orange;
  transition: border-bottom-color transparent;
  &:not(:last-child) {
    margin-right: rem(23);
  }
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
}

.news__img {
  width: 100%;
  margin-bottom: rem(25);
  img {
    @include img-contain;
  }
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.news__links {
  margin-bottom: rem(35);
  @media (max-width: 600px) {
    &_desktop {
      display: none;
    }
  }
  @media (min-width: 601px) {
    &_mobile {
      display: none;
    }
  }
  &_mobile {
    margin-bottom: 0;
  }
}

.news__text {
  font-weight: 500;
  line-height: 1.75;
  &:not(:last-child) {
    margin-bottom: rem(25);
  }
}
