.news-preview {

}

.news-preview__title {
  margin-bottom: rem(14);
  @include font(16, 600);
  display: block;
  &_font-size-14 {
    font-size: rem(14);
  }
}

.news-preview__date {
  @include font(15, 500);
  color: $gray;
  margin-bottom: rem(14);
}

.news-preview__link {
  color: $orange;
  @include font(15, 500);
  border-bottom: 1px dotted $orange;
  transition: border-bottom-color transparent;
  &:not(:last-child) {
    margin-right: rem(23);
  }
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
}

.news-preview__img {
  margin-bottom: rem(21);
  position: relative;
}
