.person-card {
  @media (max-width: 700px) {
    margin-bottom: 21px;
  }
}

.person-card__img {
  margin-bottom: rem(16);
  @include sizes(180, 221);
  img {
    @include img-contain;
  }
  @media (max-width: 700px) {
    width: 180px;
    height: 221px;
    margin-bottom: 19px;
  }
}

.person-card__name {
  @include font(16, 600);
  margin-bottom: rem(5);
  @media (max-width: 700px) {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.person-card__descr {
  color: $alt-gray;
  font-weight: 500;
  line-height: 1.733;

  margin-bottom: rem(6);
  @media (max-width: 700px) {
    margin-bottom: 3px;
  }
}

.person-card__contact {
  @include flexbox(center, flex-start);
  svg {
    margin-right: rem(5);
    min-width: rem(18);
    @media (max-width: 700px) {
      margin-right: 8px;
      min-width: 17px;
    }
  }
  &:not(:last-child) {
    margin-bottom: rem(2);
    @media (max-width: 700px) {
      margin-bottom: 5px;
    }
  }
  @media (max-width: 700px) {
    font-size: 13px;
  }
}

.person-card__text {
  color: $black;
  font-weight: 500;
  line-height: 1.733;
}
