.person-card {

}

.person-card__img {
  margin-bottom: rem(16);
  @include sizes(180, 221);
  img {
    @include img-contain;
  }
}

.person-card__name {
  @include font(16, 600);
  margin-bottom: rem(5);
}

.person-card__descr {
  color: $alt-gray;
  font-weight: 500;
  line-height: 1.733;

  margin-bottom: rem(6);
}

.person-card__contact {
  @include flexbox(center, flex-start);
  svg {
    margin-right: rem(5);
    min-width: rem(18);
  }
  &:not(:last-child) {
    margin-bottom: rem(2);
  }
}

.person-card__text {
  color: $black;
  font-weight: 500;
  line-height: 1.733;
}
