.product {
  box-shadow: rem(0 7 15) rgba(0, 0, 0, 0.06);
  border-radius: $global-radius;
  background: #fff;
  position: relative;
  padding: rem(28 14 32 27);
  height: 100%;
  display: block;
  @media (max-width: 600px) {
    padding: 17px 10px 24px 25px;
    .badge {
      top: 20px;
    }
  }
  &_alt {
    padding: 0;
    border-radius: rem(3);
    height: 100%;
  }
}

.product__title {
  @include font(16, 600);
  margin-bottom: rem(20);
  min-height: rem(45);
  padding: {
    left: rem(5);
    right: rem(72);
  }
  line-height: 1.4;
  @include flexbox(center, center);
  &_center {
    text-align: center;
    max-width: rem(240);
    margin: 0 auto rem(18);
    padding: 0;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    margin-bottom: 16px;
    padding-left: 0;
  }
}

.product__container {
  @include flexbox(flex-start, flex-start);
  margin-bottom: rem(16);
  @media (max-width: 600px) {
    margin-bottom: 10px;
  }
}

.product__img {
  max-width: rem(240);
  @include sizes(240, 240);
  margin-right: rem(19);
  img {
    @include img-contain;
  }
  &_center {
    margin: 0 auto rem(18);
  }
  @media (max-width: 600px) {
    max-width: 140px;
    width: 140px;
    height: 146px;
    margin-right: 13px;
    &_center {
      margin: 0 auto 12px;
    }
    &_alt-mobile {
      margin-bottom: 0;
      @media (max-width: 600px) {
        max-width: 220px;
        width: 220px;
        height: auto;
        max-height: 200px;
      }
    }
  }
}

.product__characteristics {
  &_alt {
    @include flexbox(flex-start, space-between);
    padding: rem(20 17 20 36);
    .product__characteristic-name {
      color: $black;
      text-align: center;
    }
    .product__characteristic-amount {
      color: $main-color;
      text-align: center;
    }
    @media (max-width: 700px) {
      padding: {
        left: 10px;
        right: 10px;
      }
    }
  }
}

.product__characteristic-amount {
  color: $orange;
  @include font(23, 600);
  line-height: 1;
  margin-bottom: rem(3);
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.product__characteristic-name {
  color: $second-gray;
  @include font(12, 500);
  line-height: 1;
  @media (max-width: 600px) {
    font-size: 10px;
  }
}

.product__characteristic {
  &:not(:last-child) {
    margin-bottom: rem(35);
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
  &:first-child {
    margin-top: 2px;
  }
  &_alt {
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.product__footer {
  @include flexbox(flex-start, space-between);
  padding: {
    left: rem(5);
    right: rem(40);
  }
  @media (max-width: 600px) {
    align-items: center;
    padding-left: 0;
    padding-right: 10px;
  }
}

.product__price {
  @include font(25, 600);
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &_alt {
    text-align: center;
    font-size: rem(33);
  }
  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.product__link {
  @include font(15, 500);
  border-bottom: $border-orange;
  transition: border-bottom-color 250ms;
  margin-top: 4px;
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
  @media (max-width: 600px) {
    font-size: 12px;
    margin-top: -8px;
    margin-right: 10px;

  }
}

.product__body {
  border-bottom: 1px solid #DEDEDE;
  padding: rem(28 12 17);
  &_no-border {
    border-bottom: none;
  }
  @media (max-width: 600px) {
    padding: 22px 20px 18px;
  }
}

.product__text {
  @include font(12, 500);
  color: $alt-gray;
  max-width: rem(127);
  margin-top: rem(15);
}

.product__descr-text {
  @include font(16, 500);
  color: $gray;
  text-align: center;
  padding: rem(16 0);
  max-width: rem(327);
  margin: 0 auto;
  line-height: normal;
  @media (max-width: 600px) {
    padding: 19px 0 17px;
    font-size: 12px;
    max-width: 90%;
  }
}

.product__price-wrapper {
  position: relative;
}

.product__discount {
  position: absolute;
  left: 0;
  top: rem(-14);
  color: $gray;
  @include font(14, 500);
  text-decoration: line-through;
  @media (max-width: 600px) {
    font-size: 11px;
  }
}
