.product-section {
  background: $light-gray;
  padding: rem(60 0 24);
  margin-bottom: rem(28);
  flex: 1 0 auto;
  &_without-title {
    padding: {
      top: rem(75);
      bottom: rem(104);
    }
  }
  &_margin-bottom-0 {
    padding-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:last-child {
      padding-bottom: rem(161);
    }
  }
  &_padding-bottom {
    padding-bottom: rem(66);
  }
  &_padding-top {
    padding-top: rem(88);
    padding-bottom: rem(40);
  }
  @media (max-width: 600px) {
    padding: 27px 0 43px;
    margin-bottom: 20px;
  }
}

.product-section__title {
  font-size: rem(23);
  margin-bottom: rem(45);
  &_with-descr {
    margin-bottom: rem(40);
  }
  @media (max-width: 600px) {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.61;
  }
}

.product-section__add-text {
  margin-bottom: rem(44);
  color: $alt-gray;
  @include font(16, 500);
  line-height: normal;
}

.product-section__wrapper {
  margin-bottom: rem(45);
}

.product-section__descr {
  margin-top: rem(50);
  @include flexbox(flex-start, flex-start);
  @media (max-width: 600px) {
    flex-direction: column;
    margin-top: 33px;
  }
}

.product-section__text {
  margin-right: rem(122);
  max-width: 65.8%;
  p {
    font-weight: 500;
    line-height: 1.75;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  @media (max-width: 600px) {
    margin-right: 0;
    max-width: 100%;
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
