.product-section {
  background: $light-gray;
  padding: rem(66 0 24);
  margin-bottom: rem(20);
  flex: 1 0 auto;
  &_without-title {
    padding: {
      top: rem(60);
      bottom: rem(45);
    }
  }
  &_margin-bottom-0 {
    padding-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:last-child {
      padding-bottom: rem(161);
    }
  }
  &_padding-bottom {
    padding-bottom: rem(66);
  }
}

.product-section__title {
  font-size: rem(23);
  margin-bottom: rem(45);
  &_with-descr {
    margin-bottom: rem(40);
  }
}

.product-section__add-text {
  margin-bottom: rem(40);
  color: #8C8C8C;
  @include font(16, 500);
  line-height: normal;
}

.product-section__wrapper {
  margin-bottom: rem(45);
}

.product-section__descr {
  margin-top: rem(45);
  @include flexbox(flex-start, flex-start);
}

.product-section__text {
  margin-right: rem(119);
  max-width: 65.8%;
  p {
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
}
