.product-slider {
  max-width: 23.7%;
}

.product-slider__img {
  margin-bottom: rem(22);
  max-width: rem(54);
}

.product-slider__title {
  @include font(16, 600);
  margin-bottom: rem(15);
}

.product-slider__text {
  margin-bottom: rem(15);
  line-height: 1.73;
  font-weight: 500;
}
