.product {
  box-shadow: rem(0 7 15) rgba(0, 0, 0, 0.06);
  border-radius: $global-radius;
  background: #fff;
  position: relative;
  padding: rem(28 14 32 27);
  height: 100%;
  display: block;
  &_alt {
    padding: 0;
    border-radius: rem(3);
    height: 100%;
  }
}

.product__title {
  @include font(16, 600);
  margin-bottom: rem(25);
  min-height: rem(45);
  padding: {
    left: rem(5);
    right: rem(72);
  }
  line-height: 1.4;
  &_center {
    text-align: center;
    max-width: rem(240);
    margin: 0 auto rem(26);
    padding: 0;
  }
}

.product__container {
  @include flexbox(flex-start, flex-start);
  margin-bottom: rem(16);
}

.product__img {
  max-width: rem(189);
  @include sizes(189, 197);
  margin-right: rem(19);
  img {
    @include img-contain;
  }
  &_center {
    margin: 0 auto rem(21);
  }
}

.product__characteristics {
  &_alt {
    @include flexbox(flex-start, space-between);
    padding: rem(12 17 20 28);
    .product__characteristic-name {
      color: $black;
      text-align: center;
    }
    .product__characteristic-amount {
      color: $main-color;
      text-align: center;
    }
  }
}

.product__characteristic-amount {
  color: $orange;
  @include font(23, 600);
  line-height: 1;
}

.product__characteristic-name {
  color: $second-gray;
  @include font(12, 500);
  line-height: 1;
}

.product__characteristic {
  &:not(:last-child) {
    margin-bottom: rem(35);
  }
  &:first-child {
    margin-top: 2px;
  }
  &_alt {
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.product__footer {
  @include flexbox(flex-start, space-between);
  padding: {
    left: rem(5);
    right: rem(40);
  }
}

.product__price {
  @include font(25, 600);
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &_alt {
    text-align: center;
    font-size: rem(33);
  }
}

.product__link {
  @include font(15, 500);
  border-bottom: $border-orange;
  transition: border-bottom-color 250ms;
  margin-top: 4px;
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
}

.product__body {
  border-bottom: 1px solid #DEDEDE;
  padding: rem(28 12 22);
  &_no-border {
    border-bottom: none;
  }
}

.product__text {
  @include font(12, 500);
  color: $alt-gray;
  max-width: rem(127);
  margin-top: rem(15);
}

.product__descr-text {
  @include font(16, 500);
  color: $gray;
  text-align: center;
  padding: rem(16 0);
  max-width: rem(327);
  margin: 0 auto;
  line-height: normal;
}

.product__price-wrapper {
  position: relative;
}

.product__discount {
  position: absolute;
  left: 0;
  top: rem(-14);
  color: $gray;
  @include font(14, 500);
  text-decoration: line-through;
}
