.product-section {
  background: $light-gray;
  padding: rem(66 0 24);
  margin-bottom: rem(20);
  flex: 1 0 auto;
  &_without-title {
    padding: {
      top: rem(60);
      bottom: rem(45);
    }
  }
}

.product-section__title {
  font-size: rem(23);
  margin-bottom: rem(45);
}

.product-section__wrapper {
  margin-bottom: rem(45);
}

.product-section__descr {
  margin-top: rem(45);
  @include flexbox(flex-start, flex-start);
}

.product-section__text {
  margin-right: rem(119);
  max-width: 65.8%;
  p {
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
}
