.product-card {
  margin: rem(32 0 88);
  .btn {
    border-radius: rem(50);
    padding: {
      left: rem(21);
      right: rem(21);
    }
  }
  &_alt {
    margin-top: rem(50);
  }
  @media (max-width: 640px) {
    margin: 0;
  }
}

.product-card__title {
  margin-bottom: rem(35);
  &_h2 {
    @include font(33, 600);
    margin-bottom: rem(30);
  }
  &_font-size-33 {
    font-size: rem(33);
    letter-spacing: 0;
  }
}

.product-card__container {
  @include flexbox(flex-start, space-between);
  &_margin-bottom {
    margin-bottom: rem(80);
  }
  &_flex-start {
    justify-content: flex-start;
  }
  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.product-card__right-col {
  &_max-width {
    max-width: rem(580);
    @media (max-width: 640px) {
      max-width: none;
    }
  }
}

.product-card__left-col {
  margin-right: rem(20);
  &_margin-right-big {
    margin-right: rem(40);
  }
  @media (max-width: 640px) {
    margin-right: 0;
  }
}

.product-card__img {
  border: $product-img-border;
  @include sizes(480, 480);
  margin-bottom: rem(25);
  position: relative;
  img {
    @include img-contain;
  }
  &_alt {
    @include sizes(362, 580);
    margin-bottom: rem(14);
  }
  @media (max-width: 640px) {
    margin-bottom: 24px;
    width: 100%;
    height: auto;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.product-card__charachteristics {
  @media (max-width: 640px) {
    margin-bottom: 40px;
  }
}

.product-card__charachteristic {
  @include flexbox(center, flex-start);
  svg {
    margin-right: rem(16);
    min-width: rem(30);
  }
  &:not(:last-child) {
    margin-bottom: rem(18);
  }
}

.product-card__charachteristic-text {
  @include font(16, 600);
  @media (max-width: 640px) {
    font-size: 13px;
  }
}

.product-card__text {
  margin-bottom: rem(22);
  line-height: 1.75;
  font-weight: 500;
  &_no-margin-bottom {
    margin-bottom: 0;
  }
}

.product-card__subtitile {
  @include font(16, 600);
  margin-bottom: rem(10);
  line-height: normal;
  color: $main-color;
  @media (max-width: 640px) {
    font-size: 16px;
    margin-bottom: 9px;
  }
}

.product-card__price {
  background: #F9F9F9;
  padding: rem(20 28 20 18);
  border-radius: rem(5);
  @include flexbox(center, space-between);
  margin-top: rem(76);
  &_margin-top-0 {
    margin-top: 0;
    margin-bottom: rem(54);
  }
  @media (max-width: 640px) {
    margin-top: 23px;
  }
  @media (max-width: 600px) {
    padding: 18px 20px 17px;
    border-radius: 0;
    margin: {
      left: -20px;
      right: -20px;
    }
  }
}

.product-card__price-left-col {
  @include flexbox(center, flex-start);
  @media (max-width: 375px) {
    display: block;
  }
}

.product-card__price-name {
  color: $gray;
  @include font(16, 600);
  line-height: normal;
  margin-right: rem(26);
  &_margin-right {
    margin-right: rem(30);
  }
  @media (max-width: 640px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    margin-bottom: 6px;
    margin-right: 0;
  }
}

.product-card__price-amount {
  @include font(33, 600);
  line-height: normal;
  @media (max-width: 700px) {
    font-size: 18px;
  }
}

.product-card__link {
  font-weight: 500;
  color: $gray;
  border-bottom: 1px solid $gray;
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
  &_orange {
    color: $main-color;
    border-bottom: 1px dashed $orange;
    margin-right: rem(36);
  }
  @media (max-width: 640px) {
    font-size: 15px;
  }
}

.product-card__infos {
  & + .product-card__infos {
    margin-top: rem(70);
    margin-left: rem(5);
  }
}

.product-card__info {
  @include flexbox(center, flex-start);
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
  svg {
    margin-right: rem(12);
  }
  &_alt {
    &:not(:last-child) {
      margin-bottom: rem(35);
    }
    .product-card__infos-link {
      line-height: 1.733;
      @include font(15, 500);
    }
    svg {
      min-width: rem(40);
      margin-right: rem(10);
    }
  }
}

.product-card__infos-link {
  @include font(13, 500);
  color: $black;
  &_dotted {
    border-bottom: 1px dashed $orange;
    &:hover, &:focus {
      border-bottom-color: transparent;
    }
  }
}

.product-card__img-previews {
  @include flexbox(stretch, flex-start);
  margin-bottom: rem(87);
}

.product-card__img-preview {
  border: $product-img-border;
  @include sizes(83, 84);
  img {
    @include img-contain;
  }
  &_transform {
    transform: scaleX(-1);
  }
  &:not(:last-child) {
    margin-right: rem(10);
  }
}

.product-card__add-info {
  @include flexbox(flex-start, flex-start);
  padding-bottom: rem(24);
  margin-bottom: rem(28);
  border-bottom: 1px solid $gray;
}

.product-card__add-info-item {
  &:first-child {
    margin-right: rem(70);
  }
  &:nth-child(2) {
    margin-right: rem(45);
  }
}

.product-card__add-info-name {
  @include font(16, 500);
  color: $gray;
  @include flexbox(center, flex-start);
  margin-bottom: rem(2);
  svg {
    margin-left: rem(4);
  }
}

.product-card__add-info-amount {
  @include font(36, 600);
  letter-spacing: 0.02em;
  line-height: normal;
}

.product-card__add-info-num {
  @include font(16, 500);
}

.product-card__data {
  @include flexbox(center, flex-start);
  @include font(16, 500);
  margin-bottom: rem(30);
  margin-top: rem(30);
}

.product-card__data-item {
  &:not(:last-child) {
    margin-right: rem(50);
  }
}

.product-card__data-num {
  @include font(36, 600);
  letter-spacing: 0.02em;
  line-height: normal;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
