.product-card-alt {
  margin: rem(32 0 88);
}

.product-card-alt__title {
  margin-bottom: rem(35);
}

.product-card-alt__container {
  @include flexbox(flex-start, space-between);
}

.product-card-alt__left-col {
  margin-right: rem(20);
}

.product-card-alt__img {
  border: $product-img-border;
  @include sizes(480, 480);
  margin-bottom: rem(25);
  position: relative;
  img {
    @include img-contain;
  }
}

.product-card-alt__charachteristic {
  @include flexbox(center, flex-start);
  svg {
    margin-right: rem(16);
    min-width: rem(30);
  }
  &:not(:last-child) {
    margin-bottom: rem(18);
  }
}

.product-card-alt__charachteristic-text {
  @include font(16, 600);
}

.product-card-alt__text {
  margin-bottom: rem(22);
  line-height: 1.733;
  font-weight: 500;
  &_no-margin-bottom {
    margin-bottom: 0;
  }
}

.product-card-alt__subtitile {
  @include font(16, 600);
  margin-bottom: rem(10);
  line-height: normal;
  color: $main-color;
}

.product-card-alt__price {
  background: #F9F9F9;
  padding: rem(20 28 20 18);
  border-radius: rem(5);
  @include flexbox(center, space-between);
  margin-top: rem(66);
}

.product-card-alt__price-left-col {
  @include flexbox(center, flex-start);
}

.product-card-alt__price-name {
  color: $gray;
  @include font(16, 600);
  line-height: normal;
  margin-right: rem(26);
}

.product-card-alt__price-amount {
  @include font(33, 600);
  line-height: normal;
}

.product-card-alt__link {
  font-weight: 500;
  color: $gray;
  border-bottom: 1px solid $gray;
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
}
