.product-card {
  margin: rem(32 0 88);
  .btn {
    display: block;
    border-radius: rem(50);
    font-weight: 600;
    padding: {
      left: rem(21);
      right: rem(21);
    }
  }
  @media (max-width: 640px) {
    margin: 0;
    .btn {
      padding: 11px 16px 13px;
      font-size: 13px;
    }
  }
  &_alt {
    margin-top: rem(50);
    @media (max-width: 640px) {
      margin-top: 0;
      margin-bottom: 50px;
      .badge {
        top: 10px;
      }
    }
  }
}

.product-card__title {
  margin-bottom: rem(35);
  &_h2 {
    @include font(33, 600);
    margin-bottom: rem(30);
    @media (max-width: 600px) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
  &_font-size-33 {
    font-size: rem(33);
    letter-spacing: 0;
    @media (max-width: 600px) {
      letter-spacing: 0.02em;
    }
  }
  @media (max-width: 600px) {
    font-size: 24px;
    margin-bottom: 23px;
  }
}

.product-card__container {
  @include flexbox(flex-start, space-between);
  &_margin-bottom {
    margin-bottom: rem(80);
  }
  &_flex-start {
    justify-content: flex-start;
  }
  &_alt {
    @media (max-width: 900px) {
      .product-card__price {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    @media (max-width: 700px) {
      flex-direction: column;
      .product-card__left-col {
        width: 100%;
        margin-bottom: 33px;
        margin-right: 0;
      }
      .product-card__right-col {
        width: 100%;
      }
      .product-card__text {
        font-size: 13px;
      }
      .product-card__link_orange {
        font-size: 12px;
      }
      .product-card__price {
        flex-direction: row;
        align-items: center;
        padding: 22px 20px 20px;
        margin-bottom: 28px;
      }
    }
  }
  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.product-card__right-col {
  &_max-width {
    max-width: rem(580);
    @media (max-width: 640px) {
      max-width: none;
    }
  }
}

.product-card__left-col {
  margin-right: rem(20);
  &_margin-right-big {
    margin-right: rem(40);
  }
  @media (max-width: 640px) {
    margin-right: 0;
  }
}

.product-card__img {
  border: $product-img-border;
  @include sizes(480, 480);
  margin-bottom: rem(25);
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_alt {
    @include sizes(362, 580);
    margin-bottom: rem(14);
    @media (max-width: 700px) {
      width: 280px;
      height: 280px;
      margin-bottom: 8px;
    }
  }
  @media (max-width: 640px) {
    margin-bottom: 24px;
    width: 100%;
    height: auto;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      position: absolute;
      top: 0;
    }
    &_alt {
      width: 280px;
      height: 280px;
      margin-bottom: 8px;
    }
  }
}

.product-card__charachteristics {
  @media (max-width: 640px) {
    margin-bottom: 38px;
  }
}

.product-card__charachteristic {
  @include flexbox(center, flex-start);
  svg {
    margin-right: rem(16);
    min-width: rem(30);
  }
  &:not(:last-child) {
    margin-bottom: rem(18);
  }
  @media (max-width: 600px) {
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.product-card__charachteristic-text {
  @include font(16, 600);
  @media (max-width: 640px) {
    font-size: 13px;
  }
}

.product-card__text {
  margin-bottom: rem(22);
  line-height: 1.75;
  font-weight: 500;
  &_no-margin-bottom {
    margin-bottom: 0;
  }
  @media (max-width: 375px) {
    &_max-width {
      margin-bottom: 27px;
      max-width: 99%;
    }
    & + .product-card__subtitile {
      margin-top: 28px;
    }
  }
}

.product-card__subtitile {
  @include font(16, 600);
  margin-bottom: rem(10);
  line-height: normal;
  color: $main-color;
  @media (max-width: 640px) {
    font-size: 16px;
    margin-bottom: 9px;
  }
}

.product-card__price {
  background: #F9F9F9;
  padding: rem(20 28 0 18);
  border-radius: rem(5);
  @include flexbox(center, space-between);
  margin-top: rem(76);
  &_margin-top-0 {
    margin-top: 0;
    margin-bottom: rem(54);
  }
  @media (max-width: 640px) {
    margin-top: 23px;
    &_margin-top-0 {
      margin-top: 0;
      margin-bottom: 31px;
    }
  }
  @media (max-width: 600px) {
    padding: 22px 20px 17px;
    border-radius: 0;
    margin: {
      left: -20px;
      right: -20px;
    }
  }
}

.product-card__price-left-col {
  @include flexbox(center, flex-start);
  margin-bottom: rem(20);
  @media (max-width: 600px) {
    margin-bottom: 0;
  }
  @media (max-width: 375px) {
    display: block;
  }
}

.product-card__price-right-col {
  &_flex {
    @include flexbox(center, flex-start);
    margin-bottom: rem(20);
  }
  @media (max-width: 600px) {
    margin-bottom: 0;
    &_flex {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media (max-width: 375px) {
    display: block;
  }
}

.product-card__price-name {
  color: $gray;
  @include font(16, 600);
  line-height: normal;
  margin-right: rem(26);
  &_margin-right {
    margin-right: rem(30);
  }
  @media (max-width: 640px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    margin-bottom: 6px;
    margin-right: 0;
  }
}

.product-card__price-amount {
  @include font(33, 600);
  line-height: normal;
  white-space: nowrap;
  @media (max-width: 1180px) {
    &_alt {
      font-size: 20px;
    }
  }
  @media (max-width: 900px) {
    &_alt {
      font-size: 18px;
    }
  }
  @media (max-width: 700px) {
    font-size: 18px;
  }
}

.product-card__link {
  color: $gray;
  border-bottom: 1px solid $gray;
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
  &_orange {
    white-space: nowrap;
    color: $main-color;
    border-bottom: 1px dashed $orange;
    margin-right: rem(36);
    @media (max-width: 900px) {
      display: inline-block;
      margin-right: 15px;
    }
    @media (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 640px) {
    font-size: 15px;
  }
}

.product-card__infos {
  & + .product-card__infos {
    margin-top: rem(70);
    margin-left: rem(5);
    @media (max-width: 600px) {
      margin-left: 0;
      margin-top: 38px;
    }
  }
  &_mobile {
    display: none;
  }
  @media (max-width: 700px) {
    &_desktop {
      display: none;
    }
    &_mobile {
      display: block;
      .link {
        border-bottom: none;
        span {
          border-bottom: 1px solid $orange;
        }
      }
    }
  }
}

.product-card__info {
  @include flexbox(center, flex-start);
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
  svg {
    margin-right: rem(12);
    @media (max-width: 600px) {
      margin-right: 25px;
      min-width: 23px;
      margin-top: -18px;
      margin-left: 5px;
    }
  }
  @media (max-width: 600px) {
    font-size: 13px;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  &_alt {
    &:not(:last-child) {
      margin-bottom: rem(35);
      @media (max-width: 600px) {
        margin-bottom: 38px;
      }
    }
    .product-card__infos-link {
      line-height: 1.733;
      @include font(15, 500);
      @media (max-width: 600px) {
        font-size: 15px;
      }
    }
    svg {
      min-width: rem(40);
      margin-right: rem(10);
      @media (max-width: 600px) {
        margin-right: 25px;
      }
    }
  }
}

.product-card__infos-link {
  @include font(13, 500);
  color: $black;
  &_dotted {
    border-bottom: 1px dashed $orange;
    &:hover, &:focus {
      border-bottom-color: transparent;
    }
  }
  @media (max-width: 600px) {
    font-size: 13px;
  }
}

.product-card__img-previews {
  @include flexbox(stretch, flex-start);
  margin-bottom: rem(87);
  @media (max-width: 700px) {
    margin-bottom: 0;
  }
}

.product-card__img-preview {
  border: $product-img-border;
  @include sizes(83, 84);
  img {
    @include img-contain;
  }
  &:not(:last-child) {
    margin-right: rem(10);
  }
  &.active {
    border-color: $second-gray;
  }
  @media (max-width: 700px) {
    width: 64px;
    height: 64px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.product-card__add-info {
  @include flexbox(flex-start, flex-start);
  flex-wrap: wrap;
  padding-bottom: rem(4);
  margin-bottom: rem(28);
  border-bottom: 1px solid $gray;
  @media (max-width: 700px) {
    margin-top: 0;
    padding-bottom: 14px;
    margin-bottom: 20px;
  }
}

.product-card__add-info-item {
  margin-bottom: rem(20);
  &:first-child {
    margin-right: rem(70);
    @media (max-width: 700px) {
      margin-right: 32px;
      margin-top: 0;
    }
  }
  &:nth-child(2) {
    margin-right: rem(45);
    @media (max-width: 700px) {
      margin-right: 0;
      margin-top: 0;
    }
  }
  @media (max-width: 700px) {
    margin-top: 35px;
    margin-bottom: 0;
  }
}

.product-card__add-info-name {
  @include font(16, 500);
  color: $gray;
  @include flexbox(center, flex-start);
  margin-bottom: rem(2);
  svg {
    margin-left: rem(4);
  }
  @media (max-width: 700px) {
    font-size: 13px;
    margin-bottom: 3px;
    svg {
      margin-left: 9px;
    }
  }
}

.product-card__add-info-amount {
  @include font(36, 600);
  letter-spacing: 0.02em;
  line-height: normal;
  white-space: nowrap;
  @media (max-width: 900px) {
    font-size: 24px;
  }
}

.product-card__add-info-num {
  @include font(16, 500);
  @media (max-width: 700px) {
    font-size: 13px;
  }
}

.product-card__data {
  @include flexbox(center, flex-start);
  flex-wrap: wrap;
  @include font(16, 500);
  margin-bottom: rem(10);
  margin-top: rem(30);
  @media (max-width: 700px) {
    margin-bottom: 4px;
    margin-top: 45px;
  }
  @media (max-width: 375px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.product-card__data-item {
  margin-bottom: rem(20);
  &:not(:last-child) {
    margin-right: rem(50);
  }
  @media (max-width: 700px) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.product-card__data-num {
  @include font(36, 600);
  letter-spacing: 0.02em;
  line-height: normal;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 900px) {
    font-size: 24px;
  }
}
