.shop-info {
  @include flexbox(flex-start, flex-start);
  width: 50%;
  margin-bottom: rem(55);
  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }
  @media (max-width: 475px) {
    flex-direction: column;
  }
}

.shop-info__img {
  @include sizes(115, 115);
  min-width: rem(115);
  margin-right: rem(33);
  @include flexbox(center, center);
  @media (max-width: 600px) {
    width: 115px;
    height: 115px;
    margin-bottom: 20px;
  }

  @media (max-width: 475px) {
    margin-right: 0;
  }
}

.shop-info__title {
  @include font(16, 600);
  margin-bottom: rem(5);
  @media (max-width: 600px) {
    font-size: 16px;
    margin-bottom: 4px;
  }
}

.shop-info__text {
  font-weight: 500;
  margin-bottom: rem(20);
  @media (max-width: 600px) {
    font-size: 13px;
    margin-bottom: 9px;
  }
}

.shop-info__contact {
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: rem(7);
  }
  @media (max-width: 600px) {
    font-size: 13px;
    @include flexbox(flex-start, flex-start);
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.shop-info__name-contact {
  @include font(16, 600);
  margin-right: rem(15);
  min-width: rem(80);
  display: inline-block;
  @media (max-width: 600px) {
    font-size: 13px;
    margin-right: 10px;
    min-width: 61px;
  }
}

.shop-infos-container {
  @include flexbox(flex-start, space-between, wrap);
  margin: rem(57 0 30);
  & + .cities {
    padding-top: 0;
    padding-bottom: rem(114);
  }
  @media (max-width: 600px) {
    margin: 6px 0 0;
    flex-direction: column;
    & + .cities {
      padding-bottom: rem(20);
    }
  }
}
