.subscribe {
  background: $light-orange;
  padding: rem(68 0 100);
  .container {
    position: relative;
  }
}

.subscribe__title {
  font-size: rem(23);
  max-width: rem(740);
  margin: 0 auto rem(56);
  text-align: center;
}

.subscribe__form {
  @include flexbox(stretch, center);
  max-width: rem(571);
  margin: 0 auto;
}

.subscribe__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 52.5%;
}

.subscribe__btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 47.5%;
  padding: {
    left: rem(10);
    right: rem(10);
  }
}

.subscribe__img {
  position: absolute;
  right: rem(188);
  top: rem(28);
  @include sizes(204, 204);
}
