.tabs {
  margin: rem(82 0 96);
  @media (max-width: 700px) {
    margin: 5px 0 0;
    .col {
      width: 100%;
      padding: 0;
      &:last-of-type {
        margin-bottom: 60px;
      }
    }
  }
}

.tabs__container {
  @include flexbox(stretch, space-between);
  @include font(14, 500);
  border-bottom: 1px solid $gray;
  margin-bottom: rem(33);
  @media (max-width: 700px) {
    display: block;
    border-bottom: none;
    margin-bottom: 0;
  }
}

.tabs__tab {
  @include font(14, 500);
  color: $alt-gray;
  position: relative;
  padding: rem(0 5 10);
  transition: all 250ms;
  background: transparent;
  &.active {
    color: $main-color;
    font-weight: 600;
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 2px;
      width: 100%;
      background: $main-color;
    }
  }
  &:hover, &:focus {
    color: $main-color;
  }
  @media (max-width: 700px) {
    width: 100%;
    text-align: left;
    color: $main-color;
    font: {
      size: 18px;
      weight: 600;
    }
    margin-bottom: 19px;
    padding: 0;
    br {
      display: none;
    }
    &:hover, &:focus {
      color: currentColor;
    }
    &.active {
      &:after {
        display: none;
      }
    }
  }
}
