.two-cols-container {
  @include flexbox(flex-start, flex-start);

}

.two-cols-container__main {
  max-width: 64.2%;
  margin-right: rem(30);
  flex-grow: 2;
}

.two-cols-container__aside {
  flex-grow: 1;
}
