.working-conditions {
  margin: rem(23 0 64);
  @media (max-width: 600px) {
    margin: 0 0 13px;
  }
}

.working-conditions__link {
  border-bottom: 1px dotted $orange;
  display: inline-block;
  font-weight: 500;
  &:hover {
    border-bottom-color: transparent;
  }
  @media (max-width: 600px) {
    font-size: 13px;
  }
}

.working-conditions__links {
  margin-bottom: rem(45);
  @media (max-width: 600px) {
    margin-bottom: 40px;
    margin-top: 3px;
  }
}

.working-conditions__link-wrapper {
  &:not(:last-child) {
    margin-bottom: rem(15);
    @media (max-width: 600px) {
      margin-bottom: 22px;
    }
  }
}

.working-conditions__title {
  @include font(23, 600);
  margin-bottom: rem(34);
  &_margin-top {
    margin-top: rem(64);
  }
  @media (max-width: 600px) {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 1.33;
  }
}

.working-conditions__text {
  max-width: rem(980);
  font-weight: 500;
  line-height: 1.75;
  &:not(:last-child) {
    margin-bottom: rem(25);
  }
  &_bold {
    @include font(16, 600);
  }
  &_margin-top {
    margin-top: rem(16);
  }
  &_big-margin-top {
    margin-top: rem(45);
  }
  & + .working-conditions__title {
    margin-top: rem(65);
    margin-bottom: rem(30);
  }
  @media (max-width: 600px) {
    max-width: none;
    line-height: 22px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
