doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="format-direction", content="telephone=no")
    //- link(rel="icon", href="img/favicon-16.png", type="image/png")
    //- link(rel="icon", href="img/favicon-32.png", type="image/png")
    //- link(rel="icon", href="img/favicon-120.png", type="image/png")
    meta(name="viewport", content="width=device-width, height=device-height")
    title Вавилон
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600", rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    block links
    link(rel="stylesheet", href="css/main.css")
    
      
  block variables
  body
    include ../components/header
    main
      block content
    include ../components/footer
    script(src="js/main.min.js")    
