doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="format-direction", content="telephone=no")
    //- link(rel="icon", href="img/favicon-16.png", type="image/png")
    //- link(rel="icon", href="img/favicon-32.png", type="image/png")
    //- link(rel="icon", href="img/favicon-120.png", type="image/png")
    meta(name="viewport", content="width=device-width, height=device-height")
    title Вавилон
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600", rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
    block links
    link(rel="stylesheet", href="css/main.css")
    
    -
      var productSections = [
        {
          "title": "Напольные кофейные автоматы",
          "slider": true,
          "amount": 4,
          "productAlt": true,
          "descr": [
            "Кофейный автомат — автомат по продаже кофе и других горячих напитков. Меню кофейного аппарата достаточно обширно и может включать не только зерновой и растворимый кофе, но и такие горячие напитки как капучино, мокка, горячий шоколад, чай и даже бульон. Отличительными чертами аппаратов марки Jofemar являются функциональность, простота обслуживания и настроек, повышенная антивандальность и устойчивость к агрессивной среде.",
            "Аппараты Jofemar универсальны и подходят для установки в офисных центрах, вокзалах, аэропортах, образовательных учреждениях, магазинах и поликлиниках. Дизайн аппаратов COFFEMAR предоставляет возможность индивидуального брендирования, что позволит Вам увеличить узнаваемость и популярность Вашей компании.",
            "Кофейные аппараты позволяют Вам зарабатывать деньги 24 часа в сутки, 7 дней в неделю!"
          ],
          "products": [
            {
              "title": "Coffeemar G250",
              "price": "248 784 ₽",
              "img": "img/products/coffeemar.jpg",
              "characteristics": [
                {
                  "amount": "400",
                  "text": "порций"
                },
                {
                  "amount": "15",
                  "text": "видов напитков"
                },
                {
                  "amount": "5",
                  "text": "ингредиентов"
                }
              ]
            },
            {
              "title": "Комплект Coffeemar G546 + MVM D-720",
              "price": "248 784 ₽",
              "img": "img/top-product.png",
              "characteristics": [
                {
                  "amount": "700",
                  "text": "порций"
                },
                {
                  "amount": "20",
                  "text": "видов напитков"
                },
                {
                  "amount": "6",
                  "text": "ингредиентов"
                }
              ]
            },
            {
              "title": "Автомат для продажи продуктов Gourmet",
              "price": "248 784 ₽",
              "img": "img/products/gourmet.jpg",
              "characteristics": [
                {
                  "amount": "400",
                  "text": "порций"
                },
                {
                  "amount": "15",
                  "text": "видов напитков"
                },
                {
                  "amount": "5",
                  "text": "ингредиентов"
                }
              ]
            }
          ]
        },
        {
          "title": "Настольные кофейные автоматы",
          "descr": [
            "Настольные кофейные аппараты – это современное решение для установки в местах с относительно небольшим потреблением кофе и напитков. Предназначены для установки офисах, ресторанах и кафе, сетях фитнес-залов, автомобильных салонах и заправках среднего и высокого класса, офисах банков, гостиничных комплексах, мебельных салонах и магазинах одежды премиум класса, администрациях и государственных учреждениях.",
            "При желании настольный кофейный аппарат может быть дополнительно укомплектован платежными системами для установки в местах с отсутствием продавца.",
            "Подарите Вашим клиентам наслаждение каждым глотком свежезаваренного кофе!"
          ],
          "productAlt": true,
          "products": [
            {
              "title": "Мини-холодильник для хранения молока",
              "price": "248 784 ₽",
              "img": "img/products/fridge.jpg",
              "addBodyClass": "product__body_no-border"
            },
            {
              "title": "Настольный кофейный аппарат Bluetec G23",
              "price": "248 784 ₽",
              "img": "img/products/bluetec.jpg",
              "characteristics": [
                {
                  "amount": "700",
                  "text": "порций"
                },
                {
                  "amount": "20",
                  "text": "видов напитков"
                },
                {
                  "amount": "6",
                  "text": "ингредиентов"
                }
              ]
            },
            {
              "title": "Зерновая кофемашина CoffeeMaster",
              "price": "248 784 ₽",
              "img": "img/products/coffeemaster.jpg",
              "characteristics": [
                {
                  "amount": "400",
                  "text": "порций"
                },
                {
                  "amount": "15",
                  "text": "видов напитков"
                },
                {
                  "amount": "5",
                  "text": "ингредиентов"
                }
              ]
            }
          ]
        },
        {
          "title": "Снековые автоматы",
          "descr": [
            "Торговые аппараты продающие продукцию в упаковке.",
            "В России данный тип аппаратов называют «снековыми» и традиционно реализуют продукты питания, предназначенные для перекуса: шоколадные батончики, чипсы, сендвичи, газированные напитки и прочее."
          ],
          "products": [
            {
              "title": "Комплект Coffeemar G546 + MVM D-720",
              "price": "248 784 ₽",
              "img": "img/products/coffeemar-g.jpg",
              "badge": "hit",
              "badgeText": "Хит!",
              "characteristics": [
                {
                  "amount": "20",
                  "text": "видов товаров"
                },
                {
                  "amount": "20",
                  "text": "полок"
                },
                {
                  "amount": "6",
                  "text": "регул. каналов"
                }
              ]
            },
            {
              "title": "MVM D-720 (с платежными системами Jofemar)",
              "price": "248 784 ₽",
              "img": "img/products/mvm.jpg",
              "text": "В холодильнике поддерживается температура на 15 градусов ниже температуры окружающей среды."
            },
            {
              "title": "MVM D-720 (без платежных систем)",
              "price": "248 784 ₽",
              "img": "img/products/mvm.jpg",
              "characteristics": [
                {
                  "amount": "14",
                  "text": "видов товаров"
                },
                {
                  "amount": "20",
                  "text": "полок"
                },
                {
                  "amount": "6",
                  "text": "регул. каналов"
                }
              ]
            },
            {
              "title": "Комплект Coffeemar G546 + MVM D-720",
              "price": "248 784 ₽",
              "img": "img/products/coffeemar-alt.jpg",
              "characteristics": [
                {
                  "amount": "20",
                  "text": "видов товаров"
                },
                {
                  "amount": "20",
                  "text": "полок"
                },
                {
                  "amount": "6",
                  "text": "регул. каналов"
                }
              ]
            },
            {
              "title": "Vision MSK + ES Plus",
              "price": "248 784 ₽",
              "img": "img/products/vision.jpg",
              "badge": "hit",
              "badgeText": "Хит!",
              "characteristics": [
                {
                  "amount": "30",
                  "text": "видов товаров"
                },
                {
                  "amount": "20",
                  "text": "полок"
                },
                {
                  "amount": "6",
                  "text": "регул. каналов"
                }
              ]
            },
            {
              "title": "MVM D-720 (без платежных систем)",
              "price": "248 784 ₽",
              "img": "img/products/mvm-d-720.jpg",
              "characteristics": [
                {
                  "amount": "14",
                  "text": "видов товаров"
                },
                {
                  "amount": "20",
                  "text": "полок"
                },
              ]
            },
            {
              "title": "Комплект Coffeemar G546 + MVM D-720",
              "price": "248 784 ₽",
              "img": "img/products/coffeemar-g.jpg",
              "characteristics": [
                {
                  "amount": "20",
                  "text": "видов товаров"
                },
                {
                  "amount": "20",
                  "text": "полок"
                },
                {
                  "amount": "6",
                  "text": "регул. каналов"
                }
              ]
            },
            {
              "title": "MVM D-720 (с платежными системами Jofemar)",
              "price": "248 784 ₽",
              "img": "img/products/mvm-d-720-alt.jpg",
              "characteristics": [
                {
                  "amount": "30",
                  "text": "видов товаров"
                },
                {
                  "amount": "20",
                  "text": "полок"
                },
                {
                  "amount": "6",
                  "text": "регул. каналов"
                }
              ]
            },
            
          ]
        },
        {
          "title": "Автоматы для напитков",
          "descr": [
            "В этих автоматах могут продаваться различные напитки в жестяных банках или пластиковых бутылках. Вы можете по желанию доукомплектовать аппараты одним или несколькими дополнительными модулями, например, устройством для чтения электронных карт, чтобы сделать процесс продажи напитков максимально простым и удобным."
          ],
          "products": [
            {
              "title": "Автомат для продажи напитков Artic 272",
              "price": "248 784 ₽",
              "img": "img/products/artic-1.jpg",
              "badge": "action",
              "badgeText": "Акция",
              "discount": "258 790 ₽",
              "characteristics": [
                {
                  "amount": "272",
                  "text": "банок"
                },
                {
                  "amount": "0,22",
                  "text": "минимальная тара"
                },
                {
                  "amount": "1,5",
                  "text": "максимальная тара"
                }
              ]
            },
            {
              "title": "Автомат для продажи напитков Artic 600",
              "price": "248 784 ₽",
              "badge": "hit",
              "badgeText": "Хит!",
              "img": "img/products/artic-2.jpg",
              "characteristics": [
                {
                  "amount": "30",
                  "text": "банок"
                },
                {
                  "amount": "0,22",
                  "text": "минимальная тара"
                },
                {
                  "amount": "1,5",
                  "text": "максимальная тара"
                }
              ]
            },
            {
              "title": "Artic Aqua",
              "price": "248 784 ₽",
              "img": "img/products/artic-1.jpg",
              "characteristics": [
                {
                  "amount": "30",
                  "text": "банок"
                },
                {
                  "amount": "0,22",
                  "text": "минимальная тара"
                },
                {
                  "amount": "1,5",
                  "text": "максимальная тара"
                }
              ]
            }
          ]
        },
        {
          "title": "Автоматы для мелкой продукции",
          "descr": [
            "Торговые автоматы для реализации мелкой продукции — данный аппарат может использоваться для реализации товаров в мелких упаковках, например, таких как сувенирная продукция или безрецептурные лекарства."
          ],
          "products": [
            {
              "title": "Автомат для мелкой продукции Argos 10",
              "price": "248 784 ₽",
              "img": "img/products/argos.jpg",
              "badge": "new",
              "badgeText": "Новинка",
              "characteristics": [
                {
                  "amount": "626",
                  "text": "пачки"
                },
                {
                  "amount": "32",
                  "text": "вида товара"
                },
                {
                  "amount": "6-22",
                  "text": "канала"
                }
              ]
            },
            {
              "title": "Автомат для мелкой продукции Goya 10",
              "price": "248 784 ₽",
              "badge": "hit",
              "badgeText": "Хит!",
              "img": "img/products/goya.jpg",
              "characteristics": [
                {
                  "amount": "30",
                  "text": "пачки"
                },
                {
                  "amount": "6",
                  "text": "вида товара"
                },
                {
                  "amount": "6",
                  "text": "канала"
                }
              ]
            },
            {
              "title": "Аппарат для мелкой продукции Bluetec 15/20",
              "price": "248 784 ₽",
              "img": "img/products/bluetec-15:20.jpg",
              "characteristics": [
                {
                  "amount": "700",
                  "text": "пачки"
                },
                {
                  "amount": "20",
                  "text": "вида товара"
                },
                {
                  "amount": "6",
                  "text": "канала"
                }
              ]
            }
          ]
        },
        {
          "title": "Автоматы для продуктов",
          "descr": [
            "Торговые автоматы для продуктов — данные автоматы предназначены для реализации замороженной продукции, готовой еды, в том числе горячих обедов. Установка данного аппарата в офисе или учебном заведении позволит Вашим сотрудникам покупать вкусный горячий обед, не выходя из здания, а Вам оптимизировать затраты по созданию корпоративной столовой!"
          ],
          "products": [
            {
              "title": "Автомат для продажи продуктов IcePlus Food",
              "price": "248 784 ₽",
              "img": "img/products/iceplus.jpg",
              "text": "Этот аппарат предназначен для продажи замороженной продукции в упаковках."
            },
            {
              "title": "Автомат для продажи продуктов Gourmet",
              "price": "248 784 ₽",
              "badge": "hit",
              "badgeText": "Хит!",
              "img": "img/products/gourmet-product.jpg",
              "text": "Этот аппарат предназначен для разогрева и продажи уже готовых продуктов в вакуумной упаковке или в газо-модифиц..."
            },
          ]
        },
      ];
      var equipmentSections = [
        {
          "title": "КТТ и телеметрия",
          "addText": "Подробности уточняйте в отделе продаж торгового оборудования<br />Телефон: 8 800 700 34 43 (доб. 1)",
          "productAlt": true,
          "products": [
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt.jpg",
              "descrText": "Наличие и стоимость уточняйте в департаменте сервисного обслуживания"
            },
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt.jpg",
              "descrText": "Наличие уточняйте в департаменте сервисного обслуживания"
            },
          ]
        },
        {
          "title": "Платёжные системы",
          "addText": "Подробности уточняйте в отделе продаж торгового оборудования<br />Телефон: 8 800 700 34 43 (доб. 1)",
          "productAlt": true,
          "products": [
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt-1.jpg",
              "descrText": "Наличие и стоимость уточняйте в департаменте сервисного обслуживания"
            },
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt-2.jpg",
              "descrText": "Наличие и стоимость уточняйте в департаменте сервисного обслуживания"
            },
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt-3.jpg",
              "descrText": "Наличие и стоимость уточняйте в департаменте сервисного обслуживания"
            },
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt-4.jpg",
              "descrText": "Наличие и стоимость уточняйте в департаменте сервисного обслуживания"
            },
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt-5.jpg",
              "descrText": "Наличие и стоимость уточняйте в департаменте сервисного обслуживания"
            },
            {
              "title": "Комплект ККТ для вендинговых автоматов",
              "img": "img/products/kkt-6.jpg",
              "descrText": "Наличие и стоимость уточняйте в департаменте сервисного обслуживания"
            }
          ]
        },
      ]   
  block variables
    
  body
    .wrapper
      .content
        include ../components/header
        main
          block content
      include ../components/footer
    script(src="js/main.min.js")    
