.modal(style="display: none;", id="make-order")
  .modal__wrapper.modal_make-order
    .modal__title.modal__title_margin-bottom-40 Оформление заявки
    form.modal__form.form
      .form__item
        label.form__label
          input(type="city", class="form__input")
          span.form__label-text Город
      .form__item
        label.form__label
          input(type="email", class="form__input")
          span.form__label-text Email
      .form__item
        label.form__label
          input(type="tel", class="form__input")
          span.form__label-text Телефон
      .form__item
        textarea(placeholder="Комментарий к заказу (необязательно)").form__textarea
      label(for="checkbox", class="checkbox")
        | Нажимая кнопку «Отправить заявку», вы подтверждаете, что ознакомились с <a href="">Политикой конфиденциальности</a> и принимаете ее.
        input(id="checkbox", type="checkbox")
        span.checkbox__checkmark
      .form__btn-container
        a(data-fancybox, data-options='{"src": "#success-modal", "touch": false}', href="javascript:;").btn.form__btn._open-success Отправить заявку
