.modal.modal_small(style="display: none;", id="success-modal")
  .modal__wrapper
    .modal__title.modal__title_margin-bottom-23 Отлично!
    .modal__text 
      |Ваша заявка успешно отправлена.<br />
      | Мы свяжемся с вами в течении рабочего дня
    .modal__btn
      a(data-fancybox-close).btn Готово
