section.company
  .two-cols-container
    .two-cols-container__main
      .wrap-text.company-text
        p.company__text Более десяти лет Группа Компаний «Вавилон-Вендинг» представлена на Вендинговом Рынке России. За эти годы Мы добились серьезных успехов, и занимаем достойное место в рейтинге Российских Компаний, оперирующих на рынке вендинга.
        p.company__text Ресурсы, возможности нашей Компании и, конечно, Команда профессионалов, позволяют нам эффективно развивать свой бизнес.
        p.company__text ГК «Вавилон-Вендинг» обладает полным набором предложений от торговых автоматов и комплектующих к ним, до ингредиентов и сопутствующих товаров для вендинга, тем самым поставляя комплексное решение для данного бизнеса. Нами созданы максимально комфортные условия для Потребителя. Всегда предлагается полный ассортимент товара, индивидуальные условия оплаты, гибкая система скидок и послепродажный сервис. Это позволяет нам уверенно удерживать свои позиции на рынке вендинга!
        h2.company__title Наши основные партнеры
        p.company__text • С 2007 года, Группа компаний «Вавилон-Вендинг» является эксклюзивным представителем в России Завода JOFEMAR S.A. (Испания), производящего торговые автоматы для вендинга. Разнообразная линейка автоматов марки JOFEMAR покрывает все основные потребности вендингового рынка. Качество напитков, приготовленных нашими кофейными автоматами, неоднократно подтверждалось победами на Всероссийских Конкурсах!
        p.company__text • С 2009 года наша Компания является эксклюзивным представителем в России компании FrieslandCampina Kievit (бренд SATRO QUALITY DRINKS), ведущего производителя высококачественных ингредиентов для вендинга.
        p.company__text • В 2011 году нашей компанией подписан эксклюзивный контракт на поставку высококачественного зернового кофе для вендинга, под торговой маркой Deorsola, с одним из крупнейших кофейных холдингов в Европе - компанией Procaffe S.p.a. (Италия)
        p.company__text Прямые контракты на поставку с производителями дают нам возможность предложить клиентам более выгодные условия и гарантировать постоянное наличие продуктов на складе.
        p.company__text ГК «Вавилон-Вендинг» имеет развитую сеть дилеров на территории Российской Федерации. Наша Дилерская сеть в настоящее время представлена в таких городах, как Белгород, Воронеж, Екатеринбург, Ижевск, Иркутск, Казань, Краснодар, Красноярск, Москва, Мурманск, Нижний Новгород, Новосибирск, Омск, Пенза и Республика Мордовия, Ростов-на-Дону, Самара, Санкт-Петербург, Саратов, Тверь, Тула, Тюмень, Уфа, Хабаровск, Челябинск, Ярославль, Северная Осетия. Наличие дилеров практически во всех крупных городах позволяет обеспечить нашим Клиентам поставку автоматов и ингредиентов в любой город России в короткие сроки!
        p.company__text Наша Служба Сервисной Поддержки включает в себя наличие нескольких складов запасных частей и Центров гарантийного и сервисного обслуживания. Помимо консультации высококвалифицированных специалистов, мы предлагаем бесперебойное поступление полного ассортимента запасных частей для торговых аппаратов. В регионах России, где работают наши дилеры, обеспечивается техническая поддержка с выездом специалиста непосредственно к Клиенту.
        p.company__text ГК «Вавилон-Вендинг» имеет логистический Центр в г. Москва, и склад готовой продукции в Калининграде. Весь ассортимент товара всегда в наличии на складах.
        p.company__text Команда ГК «Вавилон-Вендинг» готова проконсультировать по всем интересующим Вас вопросам, касающимся профессионального ведения вендингового бизнеса.
        p.company__text ГК «Вавилон-Вендинг» - делайте бизнес вместе с нами!
      a.mobile-show-btn Показать полностью
    .two-cols-container__aside
      .block
        .block__title ЦЕНТРАЛЬНЫЙ ОФИС - Г. КАЛИНИНГРАД
        p.block__text Группа компаний «Вавилон-Вендинг»<br />236008, Россия, г. Калининград
        .block__subtitle Телефон (бесплатно по России):
        a(href="tel:88007003443").block__link.block__link_margin-bottom 8 800 700-34-43
        .block__subtitle Телефон (технический отдел):
        a(href="tel:88007003443").block__link 800 700-34-43 (доб. 4)
      .block.block_padding-bottom
        .block__title ДОПОЛНИТЕЛЬНЫЙ ОФИС<br />Г. МОСКВА
        p.block__text.block__text_margin-bottom Группа компаний «Вавилон-Вендинг»<br />Московская обл., г. Люберцы, ул. Электрификации 4
        .block__subtitle Телефон
        a(href="tel:79680192212").block__link +7 (968) 019-22-12
        a(href="tel:79685341646").block__link.block__link_margin-bottom +7 (968) 534-16-46
        .block__subtitle Отдел продаж
        a(href="mailto:moscow@vavilonvending.ru").block__link moscow@vavilonvending.ru
        .block__link-to-map
          .block__icon
            include ../../img/pin.svg
          .block__link-text Как проехать
        
