-
  var cities = [
    "Белгород",
    "Владикавказ",
    "Волгоград",
    "Воронеж",
    "Екатеринбург",
    "Ижевск",
    "Иркутск",
    "Кабардино-Балкарская<br />республика",
    "Казань",
    "Карачаево-Черкесская<br />республика",
    "Костанай, Казахстан",
    "Кострома",
    "Краснодар",
    "Красноярск",
    "Липецк",
    "Москва",
    "Мурманск",
    "Набережные Челны",
    "Нижний Новгород",
    "Новороссийск",
    "Новосибирск",
    "Омск",
    "Пенза и Республика Мордовия",
    "Республика Дагестан",
    "Республика Ингушетия",
    "Республика Крым",
    "Республика Северная Осетия",
    "Ростов-на-Дону",
    "Рязань",
    "Самара",
    "Санкт-Петербург",
    "Саратов",
    "Смоленск",
    "Сочи",
    "Ставропольский край",
    "Сыктывкар",
    "Тамбов",
    "Тверь",
    "Тула",
    "Тюмень",
    "Уфа",
    "Ухта",
    "Хабаровск",
    "Челябинск",
    "Чеченская республика",
    "Ярославль"
  ]
section.cities
  ul.cities__list
    each item in cities
      li.cities__item
        a(href="city-dealers.html")!= item
  h2.cities__title Нет вашего региона? Звоните: 8 800 700-34-43
  .cities__map
    img(src="img/map.jpg", alt="Дилеры")
    
