.product-card__left-col.product-card__left-col_margin-right-big
  .product-card__img.product-card__img_alt
    img(src="img/product-card-img.jpg", alt="")
    .product-card__badges.product-card__badges_left
      .badge.badge_left.badge_hit Хит!
      .badge.badge_left.badge_hit Хит!
  .product-card__img-previews
    -for(var i=0;i<4;i++)
      .product-card__img-preview(class= i === 0 ? "active" : "")
        img(src="img/product-preview.jpg", alt="Coffemar G250")
  .product-card__infos.product-card__infos_desktop
    .product-card__info
      include ../../img/pdf.svg
      a(href="").product-card__infos-link.link Руководство по эксплуатации Coffemar G250
    .product-card__info
      include ../../img/basket.svg
      a(href="").product-card__infos-link.link Рекомендуемые товары для Coffemar G250
  .product-card__infos.product-card__infos_desktop
    .product-card__info.product-card__info_alt
      .product-card__info-icon
      a(href="").product-card__infos-link.link Гарантия и обслуживание
    .product-card__info.product-card__info_alt
      .product-card__info-icon
      a(href="").product-card__infos-link.product-card__infos-link_dotted Калькулятор окупаемости
    .product-card__info.product-card__info_alt
      .product-card__info-icon
      a(href="").product-card__infos-link.link Доставка и оплата
