.product-card__right-col
  .product-card__add-info 
    .product-card__add-info-item
      .product-card__add-info-name 
        | Окупаемость
        include ../../img/tooltip.svg
      .product-card__add-info-num
        span.product-card__add-info-amount 12&nbsp;
        | месяцев
    .product-card__add-info-item
      .product-card__add-info-name 
        | Трудозатраты
        include ../../img/tooltip.svg
      .product-card__add-info-num
        span.product-card__add-info-amount 6&nbsp;
        | часов в месяц
    .product-card__add-info-item
      .product-card__add-info-name 
        | Доходность
        include ../../img/tooltip.svg
      .product-card__add-info-num
        | от
        span.product-card__add-info-amount &nbsp;100 000 ₽&nbsp;
        | часов в месяц
  p.product-card__text Coffeemar G250 — один из немногих аппаратов на рынке, который контролирует давление, что гарантирует наилучшее приготовление зернового кофе при давлении 15 бар, с первой до последней капли напитка.
  p.product-card__text Качество напитка напрямую влияет на количество продаж: довольные покупатели визуально узнают автоматы Jofemar и с радостью покупают напитки повторно, даже если рядом стоят автоматы других производителей.
  p.product-card__text Покупая автомат Coffeemar G250, вы приобретаете современный и доступный источник дополнительного, а иногда и основного дохода. В среднем, каждый такой автомат приносит около 10.000 рублей чистой прибыли ежемесячно
  .product-card__data
    .product-card__data-item
      span.product-card__data-num 400&nbsp;
      | порций
    .product-card__data-item
      span.product-card__data-num 15&nbsp;
      | видов напитков
    .product-card__data-item
      span.product-card__data-num 400&nbsp;
      | ингредиентов
  .product-card__price.product-card__price_margin-top-0
    .product-card__price-left-col
      .product-card__price-name Стоимость
      .product-card__price-amount 10 500 ₽
    .product-card__price-right-col
      a(href="").product-card__link.product-card__link_orange Купить в лизинг
      button.btn Оформить заявку
  include ./data-tabs
