extends ../templates/base

block links
  link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
  
block variables
  -
    var breadcrumbList = [
      {
        "link": "index.html",
        "text": "Главная"
      },
      {
        "link": "coffee-and-ingredients.html",
        "text": "Кофе и ингредиенты"
      },
      {
        "link": "",
        "text": "Мокка и капучино"
      }
    ];
    var title = "Мокка и капучино";
    var sectionTitle = false;
    var headingLinksAltClass = "heading__links_alt";
    var productLink = "coffee-card.html";
    var links = [
      {
        "text": "Кофе зерновой",
        "link": "coffee-beans.html",
      },
      {
        "text": "Мокка и капучино",
        "link": "mocha and cappuccino.html",
        "addClass": "heading__link_active"
      },
      {
        "text": "Горячий шоколад",
        "link": "hot-chocolate.html"
      },
      {
        "text": "Стаканчики и размешиватели",
        "link": "glasses-and-stirrers.html"
      },
      {
        "text": "Кисель",
        "link": "jelly.html"
      },
      {
        "text": "Чай",
        "link": "tea.html"
      },
      {
        "text": "Сливки и топпинги",
        "link": "cream-and-toppings.html"
      }
    ];
    
block content
  include ../components/breadcrumbs
  include ../components/heading
  include ../components/coffee-section
  include ../components/product-preview
  .container
    +breadcrumbs(breadcrumbList)
    +heading(title, links)
  +coffee-section(coffeeSections[1])
  include ../components/coffee-descr
  include ../components/top-btn
  
