extends ../templates/base

block links
  link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
  
block variables
  -
    var breadcrumbList = [
      {
        "link": "index.html",
        "text": "Главная"
      },
      {
        "link": "",
        "text": "Новости, акции, полезное"
      }
    ];
    var title = "Новости, акции, полезное";
    var news = [
      {
        "title": "Ударим по ценам на MVM!",
        "date": "09 ноября 2018",
        "links": "Акции"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "links": "Акции"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "disabled": true,
        "endText": "Закончилась 18 ноября 2018",
        "links": "Акции"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "links": "Новости"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "disabled": true,
        "endText": "Закончилась 10 ноября 2018",
        "links": "Акции"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "disabled": true,
        "endText": "Закончилась 16 октября 2018",
        "links": "Акции"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "disabled": true,
        "endText": "Закончилась 10 октября 2018",
        "links": "Акции"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "links": "Полезное"
      },
      {
        "title": "Мы продлили акцию! До конца октября ингредиенты за наш счёт.",
        "date": "09 ноября 2018",
        "disabled": true,
        "endText": "Закончилась 6 октября 2018",
        "links": "Акции"
      }
    ]
  
block content
  include ../components/breadcrumbs
  include ../components/heading
  include ../components/news-preview
  .container
    +breadcrumbs(breadcrumbList)
    section.news.news_page
      h1.news__title Новости, акции, полезное
      .wrap-container.wrap-container_top-bottom-25
        each item, index in news
          .col.col_3-items.col_top-bottom-paddings-25
            +news-preview(item, index)
      .news__loading-wrapper
        .news__loading
          include ../img/time.svg
          | Loading...
  
