extends ../templates/base

block links
  link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
  
block variables
  -
    var breadcrumbList = [
      {
        "link": "index.html",
        "text": "Главная"
      },
      {
        "link": "coffee-and-ingredients.html",
        "text": "Кофе и ингредиенты"
      },
      {
        "link": "coffee-beans.html",
        "text": "Кофе зерновой"
      },
      {
        "link": "",
        "text": "Кофе в зернах Caffé Veloce Lusso"
      }
    ];
    var title = "Кофе зерновой";
    var sectionTitle = true;
    var headingLinksAltClass = "heading__links_alt";
    var internalHeading = true;
    var links = [
      {
        "text": "Кофе зерновой",
        "link": "coffee-beans.html"
      },
      {
        "text": "Мокка и капучино",
        "link": "mocha-and-cappuccino.html"
      },
      {
        "text": "Горячий шоколад",
        "link": "hot-chocolate.html"
      },
      {
        "text": "Стаканчики и размешиватели",
        "link": "glasses-and-stirrers.html"
      },
      {
        "text": "Кисель",
        "link": "jelly.html"
      },
      {
        "text": "Чай",
        "link": "tea.html"
      },
      {
        "text": "Сливки и топпинги",
        "link": "cream-and-toppings.html"
      }
    ];
    
block content
  include ../components/breadcrumbs
  include ../components/heading
  include ../components/coffee-section
  include ../components/product-preview
  .container
    +breadcrumbs(breadcrumbList)
    +heading(title, links)
    .product-card-alt 
      h1.product-card-alt__title Кофе в зернах Caffé Veloce Lusso 
      .product-card-alt__container
        .product-card-alt__left-col
          .product-card-alt__img
            img(src="img/coffee-card-img.jpg", alt="")
            .badge.badge_left.badge_hit Хит!
          .product-card-alt__charachteristics
            .product-card-alt__charachteristic
              include ../img/coffee-icon.svg
              .product-card-alt__charachteristic-text ~125 порций / кг
            .product-card-alt__charachteristic
              include ../img/portion-icon.svg
              .product-card-alt__charachteristic-text 9г. на порцию
        .product-card-alt__right-col
          p.product-card-alt__text Смесь кофе для  эспрессо состоит из зерен, собранных на  самых знаменитых в мире кофейных плантациях. Маленькой чашечкой кофе Lusso можно наслаждаться даже без сахара.
          p.product-card-alt__subtitile Состав:
          p.product-card-alt__text натуральный кофе (85% Арабика, 15% Робуста)
          p.product-card-alt__subtitile Упаковка:
          p.product-card-alt__text.product-card-alt__text_no-margin-bottom пакет 1 кг
          p.product-card-alt__text.product-card-alt__text_no-margin-bottom 1 коробка = 6 пакетов (0,4 х 0,25 х 0,28 м)
          p.product-card-alt__text 1 паллета = 84 коробки
          p.product-card-alt__subtitile.product-card-alt__subtitile_margin-bottom Себестоимость порции 17.6 ₽
          .product-card-alt__price
            .product-card-alt__price-left-col
              .product-card-alt__price-name Стоимость
              .product-card-alt__price-amount 10 500 ₽
            .product-card-alt__price-right-col  
              a(hreg="").product-card-alt__link К покупкам



  
