extends ../templates/base

block links
  link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
  
block variables
  -
    var breadcrumbList = [
      {
        "link": "index.html",
        "text": "Главная"
      },
      {
        "link": "",
        "text": "Условия работы"
      }
    ];
    var title = "Условия работы";
    var headingWrapper = "heading__wrapper_company";
    var subMenuTitle = "Компания";
    var mobileLink = "Компания";
    var links = [
      {
        "text": "Компания",
        "link": "company.html",
      },
      {
        "text": "Дилеры",
        "link": "dealers.html"
      },
      {
        "text": "Партнеры",
        "link": "partners.html"
      },
      {
        "text": "Сервисные центры",
        "link": "service-centres.html"
      },
      {
        "text": "Условия работы",
        "link": "working-conditions.html",
        "addClass": "heading__link_active"
      },
      {
        "text": "Отзывы",
        "link": "reviews.html"
      },
      {
        "text": "Команда",
        "link": "team.html"
      },
    ];
block content
  include ../components/submenu
  include ../components/breadcrumbs
  include ../components/heading
  .container
    +breadcrumbs(breadcrumbList)
    +heading(title, links)
    .working-conditions
      .working-conditions__links
        .working-conditions__link-wrapper
          a(href="#working-conditions").working-conditions__link._scroll-btn Условия работы
        .working-conditions__link-wrapper
          a(href="#delivery-conditions").working-conditions__link._scroll-btn Условия доставки
      section(id="working-conditions")
        h2.working-conditions__title Условия работы по заказу Торговых аппаратов
        .wrap-text.working-text
          p.working-conditions__text • Оформить заказ можно через наш сайт или прислать заявку по электронной почте sale@vavilon-vending.ru Информацию по всем интересующим вопросам можно получить по телефону: 8-800-700-34- 43 (доб.1)
          p.working-conditions__text • После получения заказа, Вам будет выставлен счет на оплату. Оплата производится банковским платежом на расчётный счёт нашей компании.
          p.working-conditions__text • Для выставления счета необходимо отправить на электронную почту sale@vavilon-vending.ru следующие документы:
          p.working-conditions__text для ИП: Скан копии Свидетельства о регистрации, ИНН, адрес по прописке, фактический адрес, контактный телефон, банковские реквизиты (при наличии)
          p.working-conditions__text для Юридических лиц:  Скан копии Свидетельства о регистрации, ИНН, юридический адрес, фактический адрес, контактный телефон, банковские реквизиты
          p.working-conditions__text для частных лиц: Скан копию паспорта (первая страница, страница с пропиской), фактический адрес, контактный телефон
          p.working-conditions__text • Наш менеджер подготовит договор поставки и пришлет его в электронном виде, а также образец доверенности для передачи груза в Транспортную компанию и оформления заявки от Вашего имени. Вам необходимо подписать данные документы и в сканированном виде прислать по электронной почте, после чего оригинал договора мы отправим заказным письмом.
          p.working-conditions__text • Ваш товар и сопроводительные документы будут готовы к отгрузке в течение 3-х рабочих дней с момента поступления денежных средств на наш расчетный счет.
          p.working-conditions__text • Товар со склада будет отгружен транспортной компании только на основании Вашей доверенности.
          p.working-conditions__text • Доставка для клиентов из Москвы в пределах МКАД осуществляется бесплатно.
          p.working-conditions__text • Доставка до ТК ПЭК осуществляется бесплатно.
          p.working-conditions__text • Стоимость перевозки транспортной компанией оплачивается в соответствии с тарифами грузоперевозчика в вашем регионе.
          h2.working-conditions__title Условия работы по заказу Ингредиентов и сопутствующих товаров для вендинга
          p.working-conditions__text • Оформить заказ можно через нашу форму заявки или прислать заявку по электронной почте order@k-vending.ru.
          p.working-conditions__text • Информацию по всем интересующим вопросам можно получить по телефону: 8-800-700-34- 43 (доб.2), 8-909-781-97-28.
          p.working-conditions__text • После получения заказа, Вам будет выставлен счет на оплату с учётом предусмотренных скидок. Оплата производится банковским платежом на расчётный счёт нашей компании.
          p.working-conditions__text • Наш менеджер подготовит договор поставки и пришлет его в электронном виде, а также образец доверенности для передачи груза в Транспортную компанию и оформления заявки от Вашего имени. Вам необходимо подписать данные документы и в сканированном виде прислать по электронной почте, после чего оригинал договора мы отправим заказным письмом.
          p.working-conditions__text • Ваш товар и сопроводительные документы будут готовы к отгрузке в течение 3-х рабочих дней с момента поступления денежных средств на наш расчетный счет.
          p.working-conditions__text • Товар со склада будет отгружен транспортной компании только на основании Вашей доверенности.
          p.working-conditions__text • Доставка для клиентов из Москвы осуществляется бесплатно в пределах МКАД при сумме разовой покупки свыше 30 000 рублей (сумма заказа без учета расходных материалов).
          p.working-conditions__text • Региональным клиентам доставка до склада транспортных компаний в пределах МКАД осуществляется бесплатно при сумме покупки свыше 15 000 рублей (сумма заказа без учета расходных материалов).
          p.working-conditions__text • Стоимость перевозки транспортной компанией оплачивается в соответствии с тарифами грузоперевозчика в вашем регионе
          section(id="delivery-conditions")
            h2.working-conditions__title.working-conditions__title_margin-top Условия доставки
            p.working-conditions__text Доставка товара осуществляется при помощи транспортной компании ПЭК. Для клиентов из Москвы и Московской области возможен самовывоз товара с нашего склада в г. Люберцы.
            p.working-conditions__text.working-conditions__text_bold Оплата:
            p.working-conditions__text • Доставка Торговых Автоматов для клиентов из Москвы в пределах МКАД осуществляется бесплатно.
            p.working-conditions__text • Доставка Ингредиентов для клиентов из Москвы осуществляется  в пределах МКАД бесплатно при сумме разовой покупки свыше 15 000 рублей (сумма заказа без учета расходных материалов). Для региональных клиентов стоимость доставки до распределительного центра транспортной компании ПЭК, Деловые Линии осуществляется бесплатно при сумме разовой покупки свыше 15 000 рублей (сумма заказа без учета расходных материалов). Доставка до распределительных центров других транспортных компаний – платная.
            p.working-conditions__text • Стоимость перевозки транспортной компанией ПЭК оплачивается в соответствии с тарифами грузоперевозчика в вашем регионе.
            p.working-conditions__text • При единовременной покупке партии запасных частей на сумму свыше 10 000 рублей, мы осуществляем доставку бесплатно
            p.working-conditions__text.working-conditions__text_big-margin-top Найти ближайший к вам склад можно на сайте транспортной компании ПЭК
        a.mobile-show-btn Показать полностью
