@import "util";
@import "variables";
@import "mixin";

html {
	height: 100%;
	font: 400 #{15px}/#{1.47} $main-font;
}

body,
html {
	height: 100%;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

body {
	display: block;
	min-height: 100%;
	// min-width: 375px;
	margin: 0;
	font: inherit;
	font-size: 100%;
	color: $main-color;
	background: #fff;
	-webkit-text-size-adjust: none;
  &.fancybox-active {
    overflow: hidden;
  }
}

* {
	box-sizing: border-box;
}

*:focus,
*:active {
	outline: none;
}

main {
	position: relative;
	// overflow-x: hidden;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 250ms;
	cursor: pointer;
}

button {
	border: none;
	padding: 0;
	font: {
		family: $main-font;
		size: rem(16);
		weight: bold;
	}
	color: inherit;
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container {
	max-width: rem(1226);
	width: 100%;
	padding: 0 rem(20);
	margin: 0 auto;
	@media (max-width: 600px) {
		padding: 0 20px;
	}
}

h1 {
	color: $main-color;
	font-size: rem(36);
	margin: 0;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.02em;
}

h2 {
	font-size: rem(33);
	line-height: normal;
	margin: 0;
	font-weight: 600;
}

h3 {
	font-size: rem(16);
	line-height: normal;
	margin: 0;
	font-weight: 600;
}

p {
	line-height: 1.73;
	text-align: left;
	margin: 0;
	color: $black;
}

img {
	display: block;
	max-width: 100%;
}


input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.full-height {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width: 600px) {
		min-height: calc(var(--vh,1vh) * 100);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.wrap-text {
	@media (max-width: 375px) {
		position: relative;
	  overflow: hidden;
	  transition: max-height 250ms ease;
		max-height: 333px;
		&:after {
			content: "";
			pointer-events: none;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 50px;
			background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		}
		// &_main {
		// 	max-height: 333px;
		// }
		&.descr-text {
			max-height: 178px;
			& + .mobile-show-btn {
				margin-top: 4px;
			}
		}
		&.equip-text {
			max-height: 222px;
			& + .mobile-show-btn {
				margin-top: 5px;
			}
		}
		&.support-text {
			max-height: 311px;
			& + .mobile-show-btn {
				margin-top: 12px;
			}
		}
		&.news-text {
			max-height: 178px;
			& + .mobile-show-btn {
				margin-top: 0;
			}
		}
		&.company-text {
			max-height: 444px;
			transition: max-height 1s ease;
			& + .mobile-show-btn {
				margin-top: 8px;
			}
		}
		&.working-text {
			max-height: 378px;
			transition: max-height 1s ease;
			& + .mobile-show-btn {
				margin-top: 0;
			}
		}
		&.reviews-text {
			max-height: 466px;
			& + .mobile-show-btn {
				margin-top: 4px;
				margin-bottom: 30px;
			}
		}
	  &.expanded {
	    & + .mobile-show-btn {
				margin-top: 11px;
			}
			&:after {
				display: none;
			}
	  }
	}
}

@media (max-width: 1080px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 790px) {
	html {
		font-size: 10px;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 13px;
	}
	h2 {
		font-size: 22px;
	}
}

@import "imports";
