$main-font: 'Montserrat', sans-serif;
$main-fz: 15px;

$main-color: #44220F;
$black: #333333;
$gray: #BDBDBD;
$second-gray: #828282;
$orange: #F59E27;
$gradient: linear-gradient(267.49deg, $orange -0.1%, #FC5829 100.12%);

$border-orange: 1px solid $orange;
$border-transparent: 1px solid transparent;
