$main-font: 'OpenSans', sans-serif;
$main-fz: 15px;

$main-color: #4a4a4a;
$gray: #9b9b9b;
$blue: #00b6f3;
$light-blue: #eef8ff;
$dark-blue: #012648;
$light-gray: rgba(74, 74, 74, 0.75);
$bg-gray: #f7f7f7;
$border-gray: #cfcfcf;
$arrow-gray: #b1b6bb;
$red: #d0021b;
