.basket-preview
  .basket-preview__col.basket-preview__col_flex
    .basket-preview__icon
      include ../img/basket.svg
    .basket-preview__text
      span.mobile-hide В корзине 
      |15 товаров на
      span.price 248 784 ₽
    a.basket-preview__link Показать
  .basket-preview__col
    a(data-fancybox, data-options='{"src": "#basket", "touch": false}', href="javascript:;").btn Перейти к оформлению заявки
