.coffee-section__descr
  .container.container_flex
    .coffee-section__text
      p Мы предлагаем только качественные бренды, проверенные временем!
      p Deorsola это — это один из старейших Итальянских брендов. По сей день смеси Deorsola делаются только из лучших, тщательно отобранных кофейных зёрен, которые в совокупности создают настоящий кофе высокого качества. Использование кофе Deorsola позволит кофейным аппаратам составить достойную конкуренцию барам – теперь чашку настоящего вкусного зернового кофе можно получить нажатием одной кнопки!
      p FrieslandCampina Kievit (бренд SATRO QUALITY DRINKS) предлагает только высококачественные ингредиенты, разработанные специально для вендинга. Ингредиенты SATRO обладают уникальными вкусовыми характеристиками, а идеальная растворимость позволяет достичь однородного и постоянного вкуса напитка, что всегда возвращает клиента именно к вашим торговым аппаратам!
    .coffee-section__slider.reviews-slider._slider.orange-slider
      -for(var i=0;i<3;i++)
        div
          .reviews-slider__img
            include ../img/quotes.svg
          p.reviews-slider__text Чай Эрл Грей без сахара с едва уловимым  привкусом бергамота разлетается на ура в наших аппаратах, установленных в офисных зданиях и гос. учреждениях. И расход у него чуть более 2 гр на порцию - стабильный, как и качество ингредиентов Satro
          .reviews-slider__date 21 Июня 2018
          .reviews-slider__author Елена (#2), г. Сыктывкар
  include index/companies
