mixin coffee-section(item)
  section.coffee-section(class= addCoffeSectionClass)
    .container
      if sectionTitle
        h2.coffee-section__title= item.title
      .coffee-section__wrapper
        each product, index in item.products
          +product-preview(product, index)
