mixin news-preview(item, index)
  article.news-preview
    .news-preview__img
      img(src="img/news/news-" + index + ".jpg", alt= item.title)
      .news-preview__info(class= item.disabled ? "news-preview__info_disabled" : "")
        if item.disabled
          | Закончилась
        else 
          | Закончится 20 ноября 2018
    h3.news-preview__title= item.title
    .news-preview__date= item.date
    .news-preview__footer
      a(href="").news-preview__link Акции
      a(href="").news-preview__link Новости  
  
