mixin news-preview(item, index)
  article.news-preview
    .news-preview__img
      img(src="img/news/news-" + index + ".jpg", alt= item.title)
      .news-preview__info(class= item.disabled ? "news-preview__info_disabled" : "")
        if item.disabled
          if item.endText
            span= item.endText
          else
            | Закончилась
        else 
          | Закончится 20 ноября 2018
    a(href="news-page.html").news-preview__title= item.title
    .news-preview__date= item.date
    .news-preview__footer
      if item.links
        a(href="").news-preview__link= item.links
      else 
        a(href="").news-preview__link Акции
        a(href="").news-preview__link Новости  
  
