-
  var partners = [
    {
      "altText": "Jofemar",
      "text": "Компания Jofemar была основана в 1971 г. Сегодня, по прошествии более 30 лет, Jofemar — огромный интернациональный концерн не только в отрасли вендинга, но и в телефонии, платежных системах, в разработке новых машин и компонентов.",
    },
    {
      "altText": "ARRY CALLEBAUT",
      "text": "Компания BARRY CALLEBAUT является ведущим в мире производителем высококачественного шоколада и какао-продуктов. Компания осуществляет полный цикл операций от закупки и обработки какао-бобов до производства готовых шоколадных продуктов высшего класса.",
    },
    {
      "altText": "Procaffe SpA",
      "text": "Компания Procaffe SpA обжаривает кофе с 1919 года и является одной из самых передовых компаний в своем секторе.  Пристальное внимание уделяется меняющемуся стилю и технологиям с целью удовлетворения изменяющихся вкусов потребителей. История компании, основанная на традициях и креативности, является символом итальянского качества, а имя Procaffe SpA является синонимом современности, высокого класса и страсти.",
    },
    {
      "altText": "Silpaster",
      "text": "Итальянский производитель размешивателей для вендинга, представленный на рынке больше 30 лет. Благодаря тщательному отбору поставщиков Европейского сырья и применению только самых передовых технологий, Silpaster является одним из ведущих производителей на международном рынке. Девиз компании «Простота - всегда лучше!»",
    },
    {
      "altText": "Aristea",
      "text": "Итальянский производитель стаканчиков для Вендинга, открывший свой первый завод в 1985 году в Баттипалье. Основываясь на своем двадцатипятилетнем опыте, компания Aristea всегда стремится к усовершенствованию своего производства, чтобы удовлетворить даже самых взыскательных покупателей.",
    },
    {
      "altText": "Dopla",
      "text": "Семейная компания Dopla была открыта в Италии в 1964 году. Основатель Ринато Левадо был одним из первых, кто оценил потенциал пластика в производстве стаканов и тарелок. В настоящее время компания занимает одну из лидирующих позиций на Итальянском рынке одноразовой посуды.",
    },
    {
      "altText": "VendLine",
      "text": "VendLine™ - линейка ингредиентов среднего ценового диапазона для профессионального вендинга.<br />Европейское производство — это гарантия качества, низкой пыльности и отсутствия слеживаемости, что сводит к минимуму возможность поломки Вашего торгового аппарата по вине ингредиентов."
    }
  ]

section.partners
  each item, index in partners
    .partners__item
      .partners__logo
        img(src="img/partners/logo-" + index + ".png", alt= item.altText)
      .partners__text!= item.text
