section.company-descr
  .container
    .company-descr__main
      h2.company-descr__title Группа компаний «Вавилон-Вендинг»
      p.company-descr__text Вендинг - высокорентабельный бизнес, идеально подходящий для начинающих предпринимателей. В среднем, каждая вендинговая точка ежемесячно даёт около 10.000 рублей чистой прибыли.
      p.company-descr__text Главное, на что следует обратить внимание, начиная прорабатывать бизнес-план, — надёжность аппаратов, которые вы собираетесь приобрести. Европейские торговые автоматы зарекомендовали себя как наиболее надёжные и неприхотливые с точки зрения обслуживания.
      p.company-descr__text С 2007 года Группа компаний «Вавилон-Вендинг» эксклюзивно представляет в России вендиговые автоматы испанского производителя JOFEMAR S.A. Мы быстро доставим нужные вам автоматы по заказу. Все вендинговые аппараты, а также полный ассортимент запасных частей и ингредиентов всегда в наличии у нас на складе в г. Люберцы, Московская область.
      p.company-descr__text Для успешного старта бизнеса необходимо с самого начала правильно выбрать партнёра, способного предоставить не только сами торговые автоматы, но и запчасти к ним и их гарантийное обслуживание. Выбирая «Вавилон-Вендинг» в качестве партнёра в вашем вендинговом бизнесе, вы получаете уверенность и европейское качество обслуживания
    .company-descr__aside
      .reviews-slider._slider
        div
          .reviews-slider__img
            include ../../img/quotes.svg
          p.reviews-slider__text Чай Эрл Грей без сахара с едва уловимым  привкусом бергамота разлетается на ура в наших аппаратах, установленных в офисных зданиях и гос. учреждениях. И расход у него чуть более 2 гр на порцию - стабильный, как и качество ингредиентов Satro
          .reviews-slider__date 21 Июня 2018
          .reviews-slider__author Елена (#2), г. Сыктывкар
        div
          .reviews-slider__img
            include ../../img/quotes.svg
          p.reviews-slider__text Чай Эрл Грей без сахара с едва уловимым  привкусом бергамота разлетается на ура в наших аппаратах, установленных в офисных зданиях и гос. учреждениях. И расход у него чуть более 2 гр на порцию - стабильный, как и качество ингредиентов Satro
          .reviews-slider__date 21 Июня 2018
          .reviews-slider__author Елена (#2), г. Сыктывкар
        div
          .reviews-slider__img
            include ../../img/quotes.svg
          p.reviews-slider__text Чай Эрл Грей без сахара с едва уловимым  привкусом бергамота разлетается на ура в наших аппаратах, установленных в офисных зданиях и гос. учреждениях. И расход у него чуть более 2 гр на порцию - стабильный, как и качество ингредиентов Satro
          .reviews-slider__date 21 Июня 2018
          .reviews-slider__author Елена (#2), г. Сыктывкар
