.intro
  .container
    .intro-slider._slider
      .intro-slider__slide
        .intro-slider__col
          h2.intro__title Новый Bluetec G335
          p.intro__text Кофейные автоматы 2015-2016 годов<br />по специальной программе
          button.btn.intro__btn Подробнее
        .intro-slider__col
          .intro-slider__img
            img(src="", alt="")
      .intro-slider__slide
        .intro-slider__col
          h2.intro__title Новый Bluetec G335
          p.intro__text Кофейные автоматы 2015-2016 годов<br />по специальной программе
          button.btn.intro__btn Подробнее
        .intro-slider__col
          .intro-slider__img
            img(src="", alt="")
      .intro-slider__slide
        .intro-slider__col
          h2.intro__title Новый Bluetec G335
          p.intro__text Кофейные автоматы 2015-2016 годов<br />по специальной программе
          button.btn.intro__btn Подробнее
        .intro-slider__col
          .intro-slider__img
            img(src="", alt="")
