.intro
  .intro-slider._slider
    .intro-slider__slide(style="background: url('img/intro-1.jpg') no-repeat center/cover")
      .container
        .intro-slider__col
          h2.intro__title Новый Bluetec G335
          p.intro__text Кофейные автоматы 2015-2016 годов<br />по специальной программе
          button.btn.intro__btn Подробнее
    .intro-slider__slide(style="background: url('img/intro-2.jpg') no-repeat center/cover")
      .container
        .intro-slider__col
          h2.intro__title Новый Bluetec G335
          p.intro__text Кофейные автоматы 2015-2016 годов<br />по специальной программе
          button.btn.intro__btn Подробнее
    .intro-slider__slide(style="background: url('img/intro-1.jpg') no-repeat center/cover")
      .container
        .intro-slider__col
          h2.intro__title Новый Bluetec G335
          p.intro__text Кофейные автоматы 2015-2016 годов<br />по специальной программе
          button.btn.intro__btn Подробнее
