section.subscribe
  .container
    h2.subscribe__title Подпишитесь на расылку от Вавилон-Вендинг чтобы всегда быть в курсе новостей компании и акций
    .subscribe__form
      input(type="email", placeholder="Ваш E-mail").input.subscribe__input
      button.subscribe__btn.btn Подписаться на рассылку
    .subscribe__img
      img(src="img/mail.svg", alt="")
